<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/commons/common.css}">
	<link rel="stylesheet" href="/css/bus/bus-index.css">
	<link rel="stylesheet" th:href="@{/css/commons/chat-bot-bus.css}">
	<style>
		#bus-station .info li{
			font-size: 8px;
			width: 150px;
		}

	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	022e1af6535b7180359a6f22f16fb181&libraries=services,clusterer,drawing"></script>
	<script th:src="@{/js/chat-bus.js}"></script>
	<script>
		/*
		$(function(){
			$("form").submit(function(){
				event.preventDefault();//from action 무효화, a href 무효화
			});
		});
		*/
		function searchBusInfo(enent){
			event.preventDefault();
			var strSrch= $("#strSrch").val().trim();

			$.ajax({
				url:"/bus/search",
				//{name:value} -->name은 변수가 아님
				data:{strSrch:strSrch},
				success:function(result){
					$("#list-display").html(result);
				}
			});
		}

		function getStaionsByRouteList(el){
			var busRouteId=$(el).siblings(".busRouteId").val();
			$.ajax({
				url:`/bus/${busRouteId}`,
				success:function(result){
					$("#list-display").html(result);
				}
			});
		}

	</script>
</head>
<main>
<!--1. 버스번호검색 : 버스라우트id 획득과정-->
<!--2. 버스라우트id : 버스 정류장정보 획득-->
<!--3. 각각 정류장 위도 경도 정보를 배열로 저장-->
<!--4. 저장된 정류장배열을 kakao map 반영 정류장 위치를 마커로 표기 -->
	<div class="bus-div">
		<p class="bus-title">버스api</p>
		<div class="bus-div2">
			<form onsubmit="searchBusInfo(event)">
				<label class="bus-lable">버스번호 입력</label>
				<input type="text" id="strSrch">
				<select id="routeType">
					<option value="1">공항버스</option>
					<option value="2">마을버스(초록)</option>
					<option value="3">간선버스(파랑)</option>
					<option value="4">지선버스(초록)</option>
					<option value="5">순환버스</option>
					<option value="6">광역버스</option>
					<option value="7">인천버스</option>
					<option value="8">경기버스</option>
				</select>
				<button class="bus-btn">검색 /</button>
				<a href="/bus" class="bus-btn">리셋</a>
			</form>
		</div>
	</div>
	<div id="list-display" class="flex">
	</div>
	<aside id="bus-chat-bot">
		<h1>챗봇</h1>
		<div class="wrap">
			<button type="button" id="btn-chat-open" onclick="openChat()">버스안내봇</button>
			<th:block th:insert="~{chatbot/chat-bot-bus::#chat-disp}" />
		</div>
	</aside>
</main>
</html>