<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
	<link rel="stylesheet" href="/css/salary/add.css">
	
	<script>
		$(function(){
			$("#btn-search").click(searchBtnClicked);
		});
		function searchBtnClicked(){
			var empId=$("#empId-input").val();
			$.ajax({
				url:`/admin/salary/search/${empId}`,
				type:"get",
				success:function (resultHtml){
					$("#search-result").html(resultHtml);
					$(".currentDate").val(new Date().toISOString().substring(0, 10));

				}
			});
			
		}

		function additionalPay(el){
			var addPay = $(el).val();
			var basePay = $("#basePay").text();
			$("#totPay").val(Number(addPay)+Number(basePay));
		}
	</script>
</head>
<main class="view-size-content"><!--내용 채우기-->
	<h1>급여 등록 페이지</h1>
	<h2>급여 등록 대상 선택</h2>
	<div class="searchContents">
		<span>사원 id를 입력해주세요</span>
		<div class="IdSearchArea">
			<input id="empId-input" type="search">
			<button id="btn-search">사원 검색</button>
		</div>
	</div>
	<div id="search-result">
	
	
	</div>
</main>
</html>