<tr th:each="dto:${myList}">
	<td th:text="${dto.empDep}"></td>
	<td th:text="${dto.empTeam}"></td>
	<td th:text="${dto.empPosition}"></td>
	<td th:text="${dto.empId}"></td>
	<td th:text="${dto.empName}"></td>
	<td th:text="${dto.totPay}"></td>
	<td th:text="${dto.payDay}"></td>
	<td sec:authorize="hasRole('ADMIN')">
		<input class="salId" type="hidden" th:value="${dto.id}">
		<button onclick="btnDeleteClicked(this)">삭제</button>
	</td>
</tr>
<tr th:if="${#lists.size(myList)!=0}">
	<td colspan="5"><span th:if="${startDate}" th:text="|조회기간: ${startDate}~|"></span><span th:text="${endDate}"></span></td>
	<td colspan="3"><span>지급총액: </span><span id="totalSum" th:text="${totalSum}"></span><span> 원</span></td>
</tr>
<tr th:if="${#lists.isEmpty(myList)}">
	<td colspan="8">데이터가 없습니다.</td>
</tr>