<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
	<!--필요한 head 추가-->
	<link rel="stylesheet" href="/css/dashboard/member.css">
	<link rel="stylesheet" href="/css/weather/weather.css">
	<script src="/js/weather/weather.js"></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script type="text/javascript">
	$(function() {
		weather();
	});
	
	$(function(){
		
		$(".btn-on").click(on);
		$(".btn-off").click(off);
		var img=$(".img2").val();
		$(".img").css("background-image", "url("+img+")");
		console.log(img);
		
	});
	//출근 버튼 누르면 출근시간 보여주고 db저장
	function on(){
		
		$.ajax({
			url:"/member/attendance/in",
			type:"post",
			success:function(data){
				console.log(data)
				alert(data);
				if (data == "출근 처리가 되었습니다."){
					window.location.reload();
				} 
			},
			error:function(data){
				alert(data)
				alert("go error");	
			}
		});
	
	}
	//퇴근
	function off(){
			
		$.ajax({
			url:"/member/attendance/out",
			type:"post",
			success:function(data){
				console.log(data)
				alert(data);
				if (data == "퇴근 처리가 되었습니다."){
					window.location.reload();
				}else if(data == "조퇴 처리가 되었습니다."){
					window.location.reload();
				}
			},
			error:function(data){
				alert(data)
				alert("go error");	
			}
		});
	
	}
	
	function weatherInfo(){
        event.preventDefault();
      //  var weather= $("#weather").val().trim();

        $.ajax({
            url:"/weather/weather",type:"get",
            //{name:value} -->name은 변수가 아님
            success:function(result){
                $("#weather").html(result);
            }
        });
    }
	
	</script>
</head>
<main><!--내용 채우기-->
	<!-- <h1>사원 대쉬보드 페이지입니다.</h1> -->
	<div class="content">
		<div class="flex">
			<p class="content_p">
				<img src="/image/attendance/round.gif">
				출근, 퇴근 등록
			</p>
			<p class="content_p content_p2">
				<img src="/image/attendance/round.gif">
				최근 근태 현황
			</p>
		</div>
		<div class="flex">
			<!-- <form action="/member/attendance/reg/" method="post"> -->
				<div class="content_att" th:each="employee : ${employee}">
					<div class="flex" >
						<script type="text/javascript">
							let today = new Date();   
							let week = new Array('일','월','화','수','목','금','토');
							let year = today.getFullYear(); // 년도
							let month = today.getMonth() + 1;  // 월
							let date = today.getDate();  // 날짜
							let weekDay = week[today.getDay()];
							document.write(year + '년 ' + month + '월 ' + date + '일 ' + weekDay + '요일');
					    </script>
					    <p class="content_att_reg" th:text="'&nbsp&nbsp&nbsp'+${employee.name}+'님 출, 퇴근을 등록하세요.'"></p>
			    	</div>
			    	<div class="content_info">
			    		<!-- 여기에는 나중에 사원등록 되면 불러오고 싶은 데이터 넣어주면 될 거 같아요. 아래는 예시로 직접 값 넣었슴다..(프사,부서,팀,직책,이름) -->
			    		<label class="img"> </label>
			    		<input class="img2" type="hidden" th:value="${employee.image}">
			    		<!-- <p><img th:src="${employee.image}" th:value="${employee.image}"> --><!-- <img class="proflie" src="/image/attendance/profile_sample.jpg"> --></p>
			    		<p th:text="${employee.department}+' '+${employee.team}">부서,팀</p>
			    		<p th:text="${employee.name}+' '+${employee.position}">스피츠 팀장</p>
				    </div>
				    <div class="btn_att flex">
			    		<input class="id" type="hidden">
			    		<button class="btn-on"><img src="/image/attendance/btn_check01.gif"></button>
			    		<input class="id" type="hidden">
			    		<button class="btn-off"><img src="/image/attendance/btn_check02.gif"></button>
			    	</div>
				</div>
			<!-- </form> -->
			<table class="table">
				<tbody>
					<tr>
						<th width="8%" height="15px">일자</th>
						<th width="8%" height="15px">출근시간</th>
						<th width="8%" height="15px">퇴근시간</th>
						<th width="5%" height="15px">요일</th>
						<th width="5%" height="15px">구분</th>
						
					</tr>
					<tr class="att_data" th:each="dto : ${list}" th:if="${!#lists.isEmpty(list)}" >
						<td th:text="${dto.date}"></td>
						<td th:text="${#dates.format(dto.inTime, 'HH:mm')}"></td>
						<td th:text="${#dates.format(dto.outTime, 'HH:mm')}"></td>
						<td th:text="${#temporals.format(dto.date, 'E')}"></td>
						<td th:text="${dto.attendStatus}"></td>
						
					</tr>
					<!-- 나중에 데이터 넣고 반복문 돌리기! 일단은 데이터 직접 넣어봄..예시.. -->
					
					
					<tr class="no_data" th:if="${#lists.isEmpty(list)}">
						<td colspan="5">데이터가 없습니다.</td>
					</tr>

				</tbody>
			</table>
		</div>
		<div>
			<!-- weather -->
			<div id="weather">
				<div class="weather-div">
		<div class="weather-div1" >
			<div class="weather_icon"></div>
		</div>
		<br>
		<div class="flex weather-div2">
			<div class="weather-div3">
				<div class="temp_min"></div>
				<div class="temp_max"></div>
				<div class="humidity"></div>
			</div>
		</div>
		<div class="flex weather-div4">
			<div class="current_temp"></div>
			<div>
				<div class="weather_description"></div>
				<div class="city"></div>
			</div>
		</div>
	</div>
				
			</div>
		</div>
</main>
</html>