<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >
<head>
	<link rel="stylesheet" href="/css/attendance/attendanceAdimin.css">
</head>
<table>
	<tr th:each="dto:${list}" th:if="${!#lists.isEmpty(list)}" >
		<td th:text="${dto.employeeId}">사원번호</td>
		<td th:text="${dto.name}">사원명</td>
		<td th:text="${dto.department}">부서</td>
		<td th:text="${dto.position}">직책</td>
		<td th:text="${dto.inTime}">출근기록</td>
		<td th:text="${dto.outTime}">퇴근기록</td>
		<td th:text="${dto.attendStatus}">상태</td>
		
	</tr>
	<tr th:if="${#lists.isEmpty(list)}">
		<td colspan="9">
			<p>데이터가 없습니다.</p>
		</td>
	</tr>
</table>
</html>