<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
	<!--필요한 head 추가-->
	<link rel="stylesheet" href="/css/attendance/attendanceAdimin.css">
	<script>
	$(document).ready(function(){
		$("#department").change(function(){
			console.log("값변경 테스트 :"+$(this).val());
			$("#department").val($(this).val());
		});
		
	});
	
	</script>
</head>
<main><!--내용 채우기-->
	<!-- <h1>일별 근태현황 페이지</h1> -->
	<div id="content">
		<table>
			<tr>
				<td>
					<b>사원 근태현황</b>
				</td>
			</tr>
			<tr>
				<td height="5"></td>
			</tr>
			<tr>
				<td height="1" bgcolor="black"></td>
			</tr>
		</table>
		<div class="img">
			<img src="/image/attendance/round.gif">
			사원 근태현황 페이지입니다.
		</div>
		<form action="/admin/day_attendance/search" method="get">
			<table class="table">
				<tbody>
					<tr>
						<th style="width: 100px; padding-bottom: 15px;">검색기간</th>
						<td style="padding-right: 390px;">
							<div style="padding-bottom:5px;"></div>
							<input type="date" name="start" id="start" value="yyyy-MM-dd">
							~
							<input type="date" name="end" id="end" value="yyyy-MM-dd">
						</td>
					</tr>
					<tr>
						<th style="width: 100px; padding-bottom: 15px;">부서</th>
						<td style="padding-right: 515px;">
							<select id="department" name="department" style="width: 150px;">
								<option value="">--부서선택--</option>
								<option value="인사담당부">인사담당부</option>
								<option value="경영지원본부">경영지원본부</option>
								<option value="마케팅부">마케팅부</option>
								<option value="편의점사업부">편의점사업부</option>
							</select>
						</td>
					</tr>
					<tr>
						<th style="width: 100px; padding-bottom: 15px;">사원명</th>
						<td style="padding-right: 515px;">
							<input type="text" name="keyword" class="dep" id="keyword">
						</td>
					</tr>
				</tbody>
			</table>
			
			<button class="btn_search" >검색</button>
		</form>
		<table class="table input">
		<thead>
			<tr>
				<th width="3%">사번</th>
				<th width="4%">사원명</th>
				<th width="7%">부서</th>
				<th width="4%">직책</th>
				<th width="15%" >출근기록</th>
				<th width="15%">퇴근기록</th>
				<th width="4%">상태</th>
			</tr>
		</thead>
			<tbody>
				<tr th:each="dto:${list}" th:if="${!#lists.isEmpty(list)}" >
					<td th:text="${dto.employeeId}">사원번호</td>
					<td >
						<a href="/admin/day_attendance/update" th:text="${dto.name}"></a>
					</td>
					<td th:text="${dto.department}">부서</td>
					<td th:text="${dto.position}">직책</td>
					<td th:text="${#dates.format(dto.inTime, 'yyyy-MM-dd &nbsp; HH:mm')}">출근기록</td>
					<td th:text="${#dates.format(dto.outTime, 'yyyy-MM-dd &nbsp; HH:mm')}">퇴근기록</td>
					<td th:text="${dto.attendStatus}">상태</td>
				</tr><!-- "${#dates.format(item.createDt, 'yyyy-MM-dd HH:mm:ss')}"   --> 
				<tr th:if="${#lists.isEmpty(list)}">
					<td colspan="5">
						<p>데이터가 없습니다.</p>
					</td>
				</tr>
			</tbody>
		</table>
		<ul class="pagination" id="pagination">
			<li class="pageNumber" th:if="${!#lists.isEmpty(p)}">
				<a th:if="${p.hasPrevious()}" th:onclick="'goSearch('+${p.getNumber()}+')'">&lt;</a>
		
				<th:block th:each="p:${#numbers.sequence(startPage, endPage)}">
					<a th:if="${p != nowPage}" th:onclick="'goSearch('+${p}+')'" th:text="${p}"></a>
					<a th:if="${p == nowPage}" th:text="${p}" class="active"></a>
				</th:block>
				<!-- th:href="@{notice-boards?(page=${p})}" -->
				<a th:if="${p.hasNext()}" th:onclick="'goSearch('+${p.getNumber()+2}+')'">&gt;</a>
			</li>
		</ul>
	</div>
	
	<script>
	//날짜 기본 세팅
	first();
	function first(){
		date = new Date();//오늘날짜
		end = date.getFullYear()+"-"+date.getMonth()+1+"-"+date.getDate();
		document.querySelector("#end").value = end;
		console.log(end);
		date.setDate(date.getDate() - 7) ;//7일전 날짜
		start = date.getFullYear()+"-"+date.getMonth()+1+"-"+date.getDate();
		document.querySelector("#start").value = start;
		console.log(start);
	}	
	function goSearch(page){
		location.href="/admin/day_attendance/search?"+"start="+document.querySelector("#start").value+"&"+"end="+document.querySelector("#end").value+"&"
				+"department="+document.querySelector("#department").value+"&"+"keyword="+document.querySelector("#keyword").value+"&"+"page="+page;
	}
	</script>
</main>
</html>