<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
	<!--필요한 head 추가-->
	<link rel="stylesheet" href="/css/attendance/attendance.css">
	<!-- full calendar 적용 -->
	<script src="/js/calendar/main.js"></script>
	<link rel="stylesheet" href="/css/attendance/main.css">
	<script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script>
</head>
<main><!--내용 채우기-->
	<!-- <h1>월 근태현황 페이지</h1> -->
	<div id="content">
		<form>
			<table>
				<tr>
					<td>
						<b>월별근태현황</b>
					</td>
				</tr>
				<tr>
					<td height="5"></td>
				</tr>
				<tr>
					<td height="1" bgcolor="black"></td>
				</tr>
			</table>
			<div class="img">
				<img src="/image/attendance/round.gif">
				월별 근태현황 관리입니다.
			</div>
			<table class="table">
				<tr>
					<th width="12%">부서</th>
					<td>
						<select style="width: 150px;"></select>
					</td>
				</tr>
			</table>
			<button class="btn_search">검색</button>
			<table>
				<tbody>
					<tr>
						
					</tr>
					<tr>
						<td>
							<button class="btn_dayD">일별상세보기</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		<div id="calendar">
			
		</div>
		
	</div>
</main>
</html>
