<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
	<!--필요한 head 추가-->
	<link rel="stylesheet" href="/css/attendance/attendance.css">
	<!-- full calendar 적용 -->
	<script src="/js/calendar/main.js"></script>
	<link rel="stylesheet" href="/css/attendance/main.css">
	<script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var Calendar = FullCalendar.Calendar;
   	  	var Draggable = FullCalendar.Draggable;
   	    var containerEl = document.getElementById('external-events');
   	    var calendarEl = document.getElementById('calendar');
   	    
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          googleCalendarApiKey : "AIzaSyDBWA82rafMdt-qfzcScMvxtr0frscbY-Y",
          eventSources :[ 
              {
              	googleCalendarId : 'ko.south_korea#holiday@group.v.calendar.google.com'
                  , color: 'white'   // an option!
                  , textColor: 'black' // an option!
              }
          ],
          headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            editable: true,
            droppable: true, // this allows things to be dropped onto the calendar
          
        });
     	// initialize the external events
     	// -----------------------------------------------------------------
		new Draggable(containerEl, {
	   	  itemSelector: '.fc-event',
	   	  eventData: function(eventEl) {
	   	    return {
	   	      title: eventEl.innerText
	   	    };
	   	  }
	   	});
        calendar.render();
      });
    </script>
</head>
<main><!--내용 채우기-->
	<!-- <h1>월 근태현황 페이지</h1> -->
	<div id="content">
		<form>
			<table>
				<tr>
					<td>
						<b>월별근태현황</b>
					</td>
				</tr>
				<tr>
					<td height="5"></td>
				</tr>
				<tr>
					<td height="1" bgcolor="black"></td>
				</tr>
			</table>
			<div class="img">
				<img src="/image/attendance/round.gif">
				월별 근태현황 관리입니다.
			</div>
			<table class="table">
				<tr>
					<th width="12%">부서</th>
					<td>
						<select style="width: 150px;">
							<option value="인사담당부">인사담당부</option>
							<option value="경영지원본부">경영지원본부</option>
							<option value="마케팅부">마케팅부</option>
							<option value="편의점사업부">편의점사업부</option>
						</select>
					</td>
				</tr>
			</table>
			<button class="btn_search">검색</button>
			<table>
				<tbody>
					<tr>
						
					</tr>
					<tr>
						<td>
							<button class="btn_dayD">일별상세보기</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div id='external-events'>
			  <p>
			    <strong>상태</strong>
			  </p>
			  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
			    <div class='fc-event-main'>출근</div>
			  </div>
			  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
			    <div class='fc-event-main'>외근</div>
			  </div>
			  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
			    <div class='fc-event-main'>연차휴가</div>
			  </div>
			  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
			    <div class='fc-event-main'>병가</div>
			  </div>
			  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
			    <div class='fc-event-main'>조퇴</div>
			  </div>
			</div>
			<div id='calendar-container'>
			  <div id='calendar'></div>
			</div>
		</form>
	</div>
</main>
</html>
