<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
	<!--필요한 head 추가-->
	<link rel="stylesheet" href="/css/attendance/attendance.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script>

		var totalPage = 0;

		function on(start, end, page, size) {
			console.log(start, end);
			$("#myList").html("")
			$.ajax({
				url: "/member/myAttList",
				type: "get",
				data: {page: page, size: size, start: start, end: end},
				success: function (data) {
					if (data == null) {
						return false;
					} else {
						$.each(data, function (index, item) {
							myList = "<tr>"
							myList += "<td>"
							myList += item.date
							myList += "</td>"
							myList += "<td>"
							var options = {hour: "numeric", minute: "numeric", hour12: false};
							if (item.inTime != null) {
								myList += new Date(item.inTime).toLocaleTimeString("en-US", options);
							}
							myList += "</td>"
							myList += "<td>"
							if (item.outTime != null) {
								myList += new Date(item.outTime).toLocaleTimeString("en-US", options);
							}
							myList += "</td>"
							myList += "<td>"
							myList += item.attendStatus
							myList += "</td>"
							myList += "<td>"
							myList += "</td>"
							myList += "</tr>"
							$("#myList").append(myList);

							// item.totalPage로 전체 페이지 세팅하기
							totalPage = item.totalPage;

						});
					}
					if (data == "") {
						myList = "<tr>"
						myList += "<td colspan='5'>"
						myList += "데이터가 없습니다."
						myList += "</td>"
						myList += "</tr>"

						$("#myList").append(myList);
					}


				},
				error: function (data) {
					alert(data)
					alert("go error");
				}
			});
		}

		function onSetting(page) {
			start = document.querySelector("#start").value;
			end = document.querySelector("#end").value;
			on(start, end, page - 1, 5);
		}

		//페이징
		function pageChange(pageChange) {
			activeTag = document.getElementById("active")
			if (activeTag != null) {
				active = activeTag.innerText
			}

			active = parseInt(active)
			section = parseInt(active - 1) / 5 + 1
			if (pageChange == true) {
				if (section == 1) {
					return;
				}
				startPage = (section - 2) * 5 + 1;
			} else {
				endSection = parseInt((totalPage - 1) / 5 + 1);
				if (section == endSection) {
					return;
				}
				startPage = section * 5 + 1;
			}
			pageList = `
			    <li>
			      <a onclick="pageChange(true)">
			        <span>«</span>
			      </a>
			    </li>
			    `
			for (i = startPage; i < startPage + 5; i++) {
				pageList += "<li "
				if (i == startPage) {
					pageList += `class="active"`
				}
				pageList += "><a "
				if (i == startPage) {
					pageList += 'id="active"'
				}
				pageList += ' onclick="onSetting(' + i + ')">'
				pageList += String(i)
				pageList += "</a><li>"
			}

			pageList += `
			   	<li>
			      <a onclick="pageChange(false)">
			        <span>»</span>
			      </a>
			    </li>
				`
			document.getElementById("pagination").innerHTML = pageList
		}
	</script>
</head>
<main>
	<!-- <h1>일별 근태현황 페이지</h1> -->
	<div id="content">
		<table>
			<tr>
				<td>
					<b>나의근태현황</b>
				</td>
			</tr>
			<tr>
				<td height="5"></td>
			</tr>
			<tr>
				<td height="1" bgcolor="black"></td>
			</tr>
		</table>

		<table class="table">
			<tbody>
			<tr>
				<th style="width:100px; padding-top: 15px;">조회일자</th>
				<td class="date">
					<div style="padding-bottom:5px;"></div>
					<input type="date" id="start">
					~
					<input type="date" id="end">
				</td>
			</tr>
			</tbody>
		</table>
		<button type="button" class="btn_search" onclick="onSetting()">검색</button>

		<table class="table">
			<thead>
			<tr>
				<th width="5%">근무일</th>
				<th width="5%">출근시간</th>
				<th width="5%">퇴근시간</th>
				<th width="5%">구분</th>
				<th width="10%">상세</th>
			</tr>
			</thead>
			<tbody id="myList">

			</tbody>
		</table>
		<ul class="pagination" id="pagination" style="margin-left: 250px;">

		</ul>
	</div>
	<script type="text/javascript">
		first();

		function first() {
			date = new Date();//오늘날짜
			end = date.toISOString().slice(0, 10);
			document.querySelector("#end").value = end;
			date.setDate(date.getDate() - 7);//7일전 날짜
			start = date.toISOString().slice(0, 10);
			document.querySelector("#start").value = start;

			pageList = `
		    <li>
		      <a onclick="pageChange(true)">
		        <span>«</span>
		      </a>
		    </li>
		    `
			startPage = 1
			for (i = startPage; i < startPage + 5; i++) {
				pageList += "<li "
				if (i == startPage) {
					pageList += `class="active"`
				}
				pageList += "><a "
				if (i == startPage) {
					pageList += 'id="active"'
				}
				pageList += ' onclick="onSetting(' + i + ')">'
				pageList += String(i)
				pageList += "</a><li>"
			}

			pageList += `
		   	<li>
		      <a onclick="pageChange(false)">
		        <span>»</span>
		      </a>
		    </li>
			`
			document.getElementById("pagination").innerHTML = pageList
			onSetting(1)
		}

		$(function () {
			var pageBtn = $("li");    //  li 이를 pageBtn 으로 칭한다. (클릭이벤트는 li에 적용 된다.)
			pageBtn.find("a").click(function () {   // pageBtn 에 속해 있는  a 찾아 클릭.
				pageBtn.removeClass("active");     // pageBtn 속에 (active) 클래스를 삭제.
				$(this).parent().addClass("active"); // 클릭한 a에 (active)클래스를 넣는다.
			})
		});
	</script>
</main>

</html>