<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
	  th:fragment="adminLayout(head, main)">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>편의점</title>

    <!-- Box Icons  -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Styles  -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<link rel="shortcut icon" href="assets/img/kxp_fav.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/commons/common.css">
	<link rel="stylesheet" href="/css/commons/chat-bot.css">
	<script src="/js/chat.js"></script>
    <script>
        function btnNoticeClicked(){
            var type = 0;
            location.href=`/member/board/boardList/${type}`;
        }
        function btnFreeClicked(){
            var type = 1;
            location.href=`/member/board/boardList/${type}`;
        }
    </script>
	<th:block th:replace="${head}"/>
</head>

<body>
    <div class="sidebar">
        <!-- ========== Logo ============  -->
        <a href="#" class="logo-box">
            <i class='bx bxs-store-alt' ></i>
            <div class="logo-name">CU</div>
        </a>

        <!-- ========== List ============  -->
        <ul class="sidebar-list">
            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="/member/main" class="link">
                        <i class='bx bxs-dashboard' ></i>
                        <span class="name">Dashboard</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="/admin/main" class="link submenu-title">Dashboard</a>
                    <!-- submenu links here  -->
                </div>
            </li>
            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bxs-user-check'></i>
                        <span class="name">사원관리</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">사원관리</a>
                    <a sec:authorize="hasRole('ADMIN')" href="/admin/emp/reg" class="link">등록</a>
                    <a href="/member/emp/list" class="link">조회/수정</a>
                </div>
            </li>

            <!-- -------- Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bxs-wallet'></i>
                        <span class="name">급여관리</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">급여관리</a>
                    <a sec:authorize="hasRole('ADMIN')" href="/admin/salary/add" class="link">등록</a>
                    <a href="/member/salary/list" class="link">조회/수정</a>
                </div>
            </li>
            
            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-calendar-check'></i>
                        <span class="name">근태관리</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">근태 관리</a>
                    <a href="/admin/day_attendance"  class="link">사원 근태현황</a>
                    <a href="/admin/month_attendance" class="link">사원 근태캘린더</a>
                    <a href="/admin/scheduleCalendar" class="link">나의 일정캘린더</a>
                    <a href="/member/my_attendance" class="link">나의 근태현황</a>
                    <!-- submenu links here  -->
                </div>
            </li>

            <!-- -------- Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-group'></i>
                        <span class="name">부서관리</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">부서관리</a>                  
                    <a href="/member/department" class="link">부서관리페이지</a>
                   
                </div>
            </li>

            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-clipboard'></i>
                        <span class="name">게시판</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    
                    <button onclick="btnNoticeClicked();"  class="link">공지사항</button>
                    <button onclick="btnFreeClicked();"  class="link">자유게시판</button>
                </div>

            </li>

           	<li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bxs-paper-plane'></i>
                        <span class="name">결재관리</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">결재관리</a>
                    <a href="/member/doc/reg" class="link">문서작성</a>
                    <a href="/member/doc/list" class="link">문서관리</a>
                </div>
            </li>
            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-store'></i>
                        <span class="name">영업점 관리</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">영업점 관리</a>
                    <a sec:authorize="hasRole('ADMIN')" href="/admin/store-write" class="link">등록</a>
                    <a href="/admin/store" class="link">조회/수정</a>
                </div>
            </li>   
			<li sec:authorize="isAuthenticated()">
				<div class="title">
					<a href="/logout" class="link">
						<i class='bx bx-log-out' ></i>
						<span class="name">로그아웃</span>
					</a>
				</div>
			</li>
			<li class="dropdown link">
				<form action="https://auth.worksmobile.com/oauth2/v2.0/authorize" method="get">
					<input type="hidden" name="client_id" value="jjFFJFIZXYX701BcqYyp">
					<input type="hidden" name="redirect_uri" value="http://localhost:8080/naver/auth2">
					<input type="hidden" name="scope" value="directory,directory.read,orgunit,orgunit.read">
					<input type="hidden" name="response_type" value="code">
					<input type="hidden" name="state" value="test">
					<button class="naver">네이버API 조직인증</button>
				</form>
			</li>
      	</ul>
    </div>

    <!-- ============= Home Section =============== -->
    <section class="home">
		<th:block th:replace="${main}"/>
	</section>

	<!-- 챗봇 -->
	<aside id="chat-bot">
		<div class="wrap">
			<button type="button" id="btn-chat-open" onclick="openChat()">helpBOT</button>
			<th:block th:insert="~{chatbot/chat-bot::#chat-disp}" />
		</div>
	</aside>
	<!-- Link JS -->
	<script src="/js/main.js"></script>
</body>

</html>