<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  th:fragment="memberLayout(head, main)">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>편의점</title>

    <!-- Box Icons  -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Styles  -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

	<link rel="shortcut icon" href="assets/img/kxp_fav.png" type="image/x-icon">
	<link rel="stylesheet" href="/css/commons/common.css">
	<link rel="stylesheet" href="/css/main.css">

	<th:block th:replace="${head}"/>
</head>

<body>
    <div class="sidebar">
        <!-- ========== Logo ============  -->
        <a href="#" class="logo-box">
            <i class='bx bxs-store-alt' ></i>
            <div class="logo-name">CU</div>
        </a>

        <!-- ========== List ============  -->
        <ul class="sidebar-list">
            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bxs-dashboard' ></i>
                        <span class="name">Dashboard</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">Dashboard</a>
                    <!-- submenu links here  -->
                </div>
            </li>

            <!-- -------- Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-collection'></i>
                        <span class="name">커뮤니티</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">Category</a>
                    <a href="#" class="link">공지사항</a>
                    <a href="#" class="link">자유게시판</a>
                </div>
            </li>

            <!-- -------- Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bxs-paper-plane' ></i>
                        <span class="name">결재문서</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">결재문서</a>
                    <a href="#" class="link">조회</a>
                    <a href="#" class="link">등록</a>
                    <a href="#" class="link">확인</a>
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-store' ></i>
                        <span class="name">영업점 목록</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">영업점 목록</a>
                    <!-- submenu links here  -->
                </div>
            </li>

            <!-- -------- Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bxs-user-circle' ></i>
                        <span class="name">조직도</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">조직도</a>
                    <a href="#" class="link">조직도</a>
                    <a href="#" class="link">주소록</a>
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bxs-user-rectangle'></i>
                        <span class="name">마이페이지</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">마이페이지</a>
                    <!-- submenu links here  -->
                </div>
            </li>

           <li>
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-last-page' ></i>
                        <span class="name">관리자페이지</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">관리자페이지</a>
                    <!-- submenu links here  -->
                </div>
            </li>
      	</ul>
    </div>

    <!-- ============= Home Section =============== -->
    <section class="home">

		<th:block th:replace="${main}"/>
    </section>

	<script src="/js/main.js"></script>
</body>

</html>