<!DOCTYPE html>

<div class="view-size-content"><!--내용 채우기-->
	<h1>사원 디테일 페이지입니다.</h1>
	<form class="regForm flex column">
		<div>
			<label class="img" th:style="|background-image:url(${dto.url}${dto.newName})|"></label>
			<input class="gimg" type="file" name="gimg">
			<br>
			<span>프로필 사진</span>
		</div>
		<label><span>사원번호</span><span th:text="${dto.id}"></span><br></label>
		<label><span>재직여부 </span>
			<span th:if="${dto.end}">퇴사</span>
			<span th:if="${dto.end}">퇴사일</span>
			<input th:if="${dto.end}" type="date"  th:value="${dto.endDate}" readonly>
			<span th:if="!${dto.end}">재직</span>
		</label>
		<label><span>로그인 이메일</span><span th:text="${dto.email}"></span><br></label>
		<label><span>이름</span><span th:text="${dto.name}"></span><br></label>
		<label><span>연락처</span><span th:text="${dto.phone}"></span><br></label>
		<label><span>입사일</span><input class="bgtrans" type="date" th:value="${dto.hireDate}" readonly><br></label>
		<label>
			<span>부서</span>
			<span th:text="${dto.department}"></span>
			<br></label>
		<label>
			<span>팀</span>
			<span th:text="${dto.team}">
			</span>
			<br></label>
		<label>
			<span>직책</span>
			<span th:text="${dto.position}"></span>
			<br></label>
		<div class="detail-address">
			<label>우편번호 : <span th:text="${dto.postcode}"></span><br></label>
			<label>주소 :
				<span th:text="|${dto.roadAddress}(${dto.jibunAddress}) ${dto.detailAddress} ${dto.extraAddress}|"></span>
			</label>
		</div>
		<div>
			<input type="hidden" th:value="${dto.id}">
			<button  th:if="${#authorization.expression('hasRole(''ADMIN'')')}or${dto.id}==${#authentication.principal.id}" type="button" onclick="btnEditClicked(this)">수정</button>
			<button type="button" onclick="btnListClicked();">목록</button>
		</div>
	</form>
</div>