<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<!--필요한 head 추가-->
	<link rel="stylesheet" href="/css/employee/detail.css">
	<script>
		$(function () {
			$(".currentDate").val(new Date().toISOString().substring(0, 10));
		});
		/*document.getElementById('currentDate').value = new Date().toISOString().substring(0, 10);;*/
	</script>
	<script src="/js/employee/daumPostcode.js"></script>

</head>
<main class="view-size-content"><!--내용 채우기-->
	<h1>사원 디테일 페이지입니다.</h1>
	<form class="regForm flex column">
		<div>
			<label class="img" for="defimg"></label>
			<input id="defimg" class="gimg" type="file" name="gimg"
				   onchange="gimgChanged(this)">
			<input type="hidden" class="newName" name="newName">
			<input type="hidden" class="orgName" name="orgName">
			<br>
			<span>프로필 사진</span>
		</div>
		<label><span>로그인 이메일</span><input type="email" readonly><br></label>
		<label><span>비밀번호</span><input type="password"><br></label>
		<label><span>비밀번호 확인</span><input type="password"><br></label>
		<label><span>이름</span><input type="text"><br></label>
		<label><span>연락처</span><input type="text"><br></label>
		<label><span>입사일</span><input type="date" class="currentDate"><br></label>
		<label>
			<span>부서</span>
			<select name="department">
				<option value="">부서지정</option>
				<option value="학생">부서1</option>
				<option value="회사원">부서2</option>
				<option value="기타">부서3</option>

			</select>
			<br></label>
		<label>
			<span>직책</span>
			<select name="position">
				<option value="">직책</option>
				<option value="학생">사장</option>
				<option value="회사원">이사</option>
				<option value="기타">사원</option>

			</select>
			<br></label>
		<div>
			<input type="text" id="postcode" name="postcode" placeholder="우편번호">
			<input type="button" onclick="daumPostcode()" value="우편번호 찾기"><br>
			<input type="text" id="roadAddress" name="roadAddress" placeholder="도로명주소">
			<input type="text" id="jibunAddress" name="jibunAddress" placeholder="지번주소">
			<span id="guide" style="color:#999;display:none"></span>
			<input type="text" id="detailAddress"  name="detailAddress" placeholder="상세주소">
			<input type="text" id="extraAddress" name="extraAddress" placeholder="참고항목">
		</div>
		<button>사원 등록</button>
	</form>
</main>
</html>