<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
	<!--필요한 head 추가-->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="/js/employee/daumPostcode.js"></script>
	<link rel="stylesheet" href="/css/employee/list.css">
	<link rel="stylesheet" href="/css/employee/detail.css">

	<script>
		$(function (){
			$(".nameTd>button").click(btnDetailClicked);
			$("#btn-search").click(btnSearchClicked);
			$("#btn-reset-list").click(btnResetClicked);
		});

		//이미지변경
		function gimgChanged(el) {
			var fileData = $(el)[0].files[0];
			console.log(fileData);

			var formData = new FormData()
			formData.append('gimg', fileData);

			$.ajax({
				url: "/admin/temp-upload",
				type: "post",
				contentType: false,
				processData: false,
				data: formData,
				success: function (map) { //서버에 업로드이후 url을 리턴-> 파라미터에 전달
					console.log(map);

					$(el).siblings(".img").css("background-image", "url(" + map.url + ")");
					$(el).siblings(".newName").val(map.newName);
					$(el).siblings(".orgName").val(map.orgName);
				}
			});
		}

		//검색버튼 눌렀을 때
		function btnSearchClicked(){
			var type = $("#search_type").val();
			var data = $("#search_data").val();
			$.ajax({
				url:`/admin/emp/searchList/${type}/${data}`,
				type:"get",
				success:function (resultHTML){
					$("#emp-list").html(resultHTML);
					$(".nameTd>button").click(btnDetailClicked);
				}
			});
		}
		//초기화 버튼 눌렀을 때
		function btnResetClicked(){
			$.ajax({
				url:`/admin/emp/allList`,
				type:"get",
				success:function (resultHTML){
					$("#emp-list").html(resultHTML);
					$(".nameTd>button").click(btnDetailClicked);
				}
			});
		}

		/*이름을 눌렀을 때 상세내용 나오게*/
		function btnDetailClicked(){
			var memberId=$(this).parent(".nameTd").prev().text();
			$.ajax({
				url:`/admin/member/detailTag/${memberId}`,
				type:"get",
				success:function (resultHTML){
					$("#view-list").hide();
					$("#view-detail").html(resultHTML).show();
					/*$(".currentDate").val(new Date().toISOString().substring(0, 10));*/
				}
			});
		}
		//디테일에서 수정버튼 눌렀을 때
		function btnEditClicked(el){
			var memberId=$(el).prev().val();
			$.ajax({
				url:`/admin/member/editTag/${memberId}`,
				type:"get",
				success:function (resultHTML){
					$("#view-list").hide();
					$("#view-detail").hide();
					$("#view-edit").html(resultHTML).show();
					/*$(".currentDate").val(new Date().toISOString().substring(0, 10));*/
					$("#passCheckText").hide();
					if($("#btnNotEnd").prop("checked"))
						$(".endDate").hide();
				}
			});
		}
		function radioEndCheckd(){

			//퇴직 버튼 눌렸을때
			if($("#btnEnd").prop("checked")){
				$(".endDate").show();
			}
			//재직 버튼 눌렸을 때
			else{
				$(".endDate").hide();
			}

		}
		//비밀번호 변경하기 버튼 눌렀을 때
		function btnUpdatePass(){
			if($("#pass1").val()!=$("#pass2").val()){
				return;
			}
			var empId = $("#empId").text();

			var pass = $("#pass1").val()
			$.ajax({
				url:`/admin/emp/passUpdate?empId=${empId}&pass=${pass}`,
				type:"get",
				success:function (){
					alert("비밀번호가 변경되었습니다.")
				}
			});
		}
		//디테일 상태에서 목록 버튼 눌렀을 때
		function btnListClicked(){
			$("#view-list").show();
			$("#view-detail").hide();
		}
		//수정페이지 상태에서 취소버튼 눌렀을 대
		function btnCancelClicked(){
			$("#view-edit").hide()
			$("#view-detail").show();
		}

		//두 비밀번호 일치 여부
		function passSameCheck(){
			if($("#pass1").val()!=$("#pass2").val()){
				$("#passCheckText").show();
			}else{
				$("#passCheckText").hide();
			}
		}

		//부서가 변경됐을 때 팀목록 변경
		function depChanged(el){
			var depName=$(el).val();
			if(depName=="none"){
				$("#teamTag").hide();
				return;
			}
			$.ajax({
				url:`/admin/teamList/${depName}`,
				type: "get",
				success:function (result){
					result=result.toString();

					var list=result.split(',');

					var htmltag="";
					for(var i=0;i<list.length;i++){
						htmltag+=`<option value="${list[i]}">${list[i]}</option><br>`;
					}

					$("#teamList").html(htmltag);
					$("#teamTag").show();
				}
			});
		}
	</script>
</head>
<main id="main-tag"><!--내용 채우기-->
	<div id="view-list">
		<h1>사원명부</h1>

		<div class="flex searchTag">

			<label>검색어
				<select id="search_type">
					<option value="name">성명</option>
					<option value="dep">부서명</option>
					<option value="id">사원번호</option>
				</select>
				<input id="search_data" type="text">
			</label>
			<button id="btn-search" class="btn-search"><i class='bx bx-search-alt-2' ></i></button>
			<button id="btn-reset-list" class="btn-search"><i class='bx bx-reset' ></i></button>
		</div>

		<div class="emp-info">
			<table class="emp-list-table">
				<thead>
				<tr>
					<th>사원번호</th>
					<th>성명</th>
					<th>직책</th>
					<th>부서(팀)</th>
					<th>입사일자</th>
					<th>핸드폰</th>
					<th>E-MAIL</th>
					<th>주소</th>
				</tr>
				</thead>
				<tbody id="emp-list">
				<tr th:each="dto:${list}">
					<td th:text="${dto.id}">사원번호</td>
					<td class="nameTd">
						<button type="button" th:text="${dto.name}">성명</button>
					</td>
					<td th:text="${dto.position}">직책</td>
					<td th:text="|${dto.department}(${dto.team})|">부서</td>
					<td th:text="${dto.hireDate}">입사일자</td>
					<td th:text="${dto.phone}">핸드폰</td>
					<td th:text="${dto.email}">E-MAIL</td>
					<td th:text="${dto.address}">주소</td>
				</tr>
				</tbody>
			</table>

		</div>
		<p><i class='bx bx-info-square'></i> 성명을 클릭하면 상세정보로 이동합니다.</p>
	</div>
	<div id="view-detail">

	</div>
	<div id="view-edit">

	</div>
</main>
</html>