<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
	<!--필요한 head 추가-->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="/js/employee/daumPostcode.js"></script>
	<link rel="stylesheet" href="/css/employee/list.css">
	<link rel="stylesheet" href="/css/employee/detail.css">

	<script>
		$(function (){
			$(".nameTd>button").click(btnDetailClicked);
		});

		function btnDetailClicked(){

			var memberId=$(this).parent(".nameTd").prev().text();
			$.ajax({
				url:`/admin/member/detailTag/${memberId}`,
				type:"get",
				success:function (resultHTML){
					$("#view-list").hide();
					$("#view-detail").html(resultHTML).show();
					$(".currentDate").val(new Date().toISOString().substring(0, 10));
				}
			});
		}
		function btnCancelClicked(){
			$("#view-list").show();
			$("#view-detail").hide();
		}
	</script>
</head>
<main id="main-tag"><!--내용 채우기-->
	<div id="view-list">
		<hr>
		<h1>사원명부</h1>
		<hr>

		<div class="flex searchTag">

			<label>검색어
				<select name="searchType">
					<option value="">성명</option>
					<option value="학생">부서명</option>
					<option value="회사원">사원번호</option>
				</select>
				<input type="text">
			</label>
			<button class="btn-search">검색</button>
		</div>

		<div class="emp-info">
			<p>사원명부</p>
			<table class="emp-list-table">
				<thead>
				<tr>
					<th>사원번호</th>
					<th>성명</th>
					<th>직책</th>
					<th>부서(팀)</th>
					<th>입사일자</th>
					<th>핸드폰</th>
					<th>E-MAIL</th>
					<th>주소</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="dto:${list}">
					<td th:text="${dto.id}">사원번호</td>
					<td class="nameTd">
						<button type="button" th:text="${dto.name}">성명</button>
					</td>
					<td th:text="${dto.position}">직책</td>
					<td th:text="|${dto.department}(${dto.team}))|">부서</td>
					<td th:text="${dto.hireDate}">입사일자</td>
					<td th:text="${dto.phone}">핸드폰</td>
					<td th:text="${dto.email}">E-MAIL</td>
					<td th:text="${dto.address}">주소</td>
				</tr>
				</tbody>
			</table>

		</div>
		<p>% 성명을 클릭하면 상세정보로 이동합니다.</p>
	</div>
	<div id="view-detail">

	</div>
</main>
</html>