<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
	<!--필요한 head 추가-->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

	<link rel="stylesheet" href="/css/employee/reg.css">
	<script>
		$(function () {
			$(".currentDate").val(new Date().toISOString().substring(0, 10));
			$("#passCheckText").hide();
			$("#teamTag").hide();
		});
		/*document.getElementById('currentDate').value = new Date().toISOString().substring(0, 10);;*/



		function gimgChanged(el) {
			var fileData = $(el)[0].files[0];
			console.log(fileData);

			var formData = new FormData()
			formData.append('gimg', fileData);

			$.ajax({
				url: "/member/temp-upload",
				type: "post",
				contentType: false,
				processData: false,
				data: formData,
				success: function (map) { //서버에 업로드이후 url을 리턴-> 파라미터에 전달
					console.log(map);

					$(el).siblings(".img").css("background-image", "url(" + map.url + ")");
					$(el).siblings(".newName").val(map.newName);
					$(el).siblings(".orgName").val(map.orgName);
				}
			});
		}
		function passSameCheck(){
			if($("#pass1").val()!=$("#pass2").val()){
				$("#passCheckText").show();
			}else{
				$("#passCheckText").hide();
			}
		}

		function depChanged(el){
			var depName=$(el).val();
			if(depName=="none"){
				$("#teamTag").hide();
				return;
			}
			$.ajax({
				url:`/admin/teamList/${depName}`,
				type: "get",
				success:function (result){
					result=result.toString();

					var list=result.split(',');

					var htmltag="";
					for(var i=0;i<list.length;i++){
						htmltag+=`<option value="${list[i]}">${list[i]}</option><br>`;
					}

					$("#teamList").html(htmltag);
					$("#teamTag").show();
				}
			});
		}
	</script>
	<script src="/js/employee/daumPostcode.js"></script>

</head>
<main class="view-size-content"><!--내용 채우기-->
	<h1>사원 등록 페이지입니다.</h1>
	<form action="/admin/emp/reg" class="regForm flex column" method="post">
		<div>
			<label class="img" for="profileImg" ></label>
			<input id="profileImg" class="gimg" type="file" name="gimg"
				   onchange="gimgChanged(this)">
			<input type="hidden" class="newName" name="newName" >
			<input type="hidden" class="orgName" name="orgName" >
			<br>
			<span>프로필 사진</span>
		</div>
		<label><span>로그인 이메일</span><div><input type="text" name="email">@CUAgain.com</div><br></label>
		<label><span>비밀번호</span><input type="password" id="pass1" onchange="passSameCheck();" name="pass"><br></label>
		<label><span>비밀번호 확인</span><input type="password" id="pass2" onchange="passSameCheck();"><br></label>
		<label id="passCheckText">비밀번호가 일치하지 않습니다. 다시 설정해 주세요.</label>
		<label><span>이름</span><input type="text" name="name"><br></label>
		<label><span>연락처</span><input type="text" name="phone" ><br></label>
		<label><span>입사일</span><input type="date" class="currentDate" name="hireDate" ><br></label>
		<label>
			<span>부서</span>
			<select id="depList" name="department" onchange="depChanged(this)">
				<option value="none" th:text="부서선택"></option>
				<option th:each="dep : ${depList}" th:value="${dep}" th:text="${dep}"></option>
			</select>
			</label>
		<label id="teamTag">
			<span>팀</span>
			<select name="team" id="teamList">
				<!--/*<option th:each="team : ${teamList}" th:value="${team}" th:text="${team}"></option>*/-->
			</select>
			<br></label>
		<label>
			<span>직책</span>
			<select name="position">
				<option th:each="position : ${positionList}" th:value="${position.name()}" th:text="${position.name()}"></option>
			</select>
			<br></label>

		<div class="search-post">
			<input type="text" id="postcode" name="postcode" placeholder="우편번호">
			<input type="button" onclick="daumPostcode()" value="우편번호 찾기"><br>
			<input type="text" id="roadAddress" name="roadAddress" placeholder="도로명주소">
			<input type="text" id="jibunAddress" name="jibunAddress" placeholder="지번주소">
			<span id="guide" style="color:#999;display:none"></span>
			<input type="text" id="detailAddress"  name="detailAddress" placeholder="상세주소">
			<input type="text" id="extraAddress" name="extraAddress" placeholder="참고항목">
		</div>
		<button>사원 등록</button>
	</form>
</main>
</html>