@charset "UTF-8";

h1{
	padding: 20px 0px 0px 20px;
	font-weight: bold;
	font-size: 30px;
}
h2{
	padding: 70px 0px 0px 20px;
	font-size: 25px;
}
.previewContents{
	width: 500px;
	height: 250px;
	margin: 40px 0px 0px 20px;
}
.previewContents div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}

.MemberSelectArea{
	height: 30px;
	
}
.MemberSelect{
	width: 200px;
	height: 30px;
}
.inquireBtn{
	margin-top: 10px;
	width: 200px;
	height: 33px;
	background-color: #DDD;
	border-radius: 3px;
	border: solid 1px black;
}
.yearsSearchLine{
	margin: 50px 0px 5px 20px;
	display: flex;
	justify-content: space-between;
	width: 1495px;
}
.yearsSearchLine span:first-child{
	color: red;
	padding-top: 17px;
	font-size: 16px;
}
.yearsSearch{
	width: 200px;
}
.SearchBtn{
	width: 55px;
	height: 33px;
	background-color: #DDD;
	border-radius: 3px;
	border: solid 1px black;
}
.center{
	text-align: center;
	justify-content: center;
	padding: 2px 30px;
}
.searchResultArea{
	width: 1450px;
	height: 500px;
	margin: 0px 0px 0px 20px;
}
table{
	border: solid 2px;
	background-color: white;
	text-align: right;
	width: inherit;
}
table th, td{
	border: solid 1px;
	
}
td{
	padding: 2px 3px 3px 30px;
	
}
th{
	text-align: center;
	padding: 10px 15px 10px 15px;;
	background-color: #ddd;
}
.editBtn{
	width: 55px;
	height: 33px;
	background-color: #DDD;
	border-radius: 3px;
	border: solid 1px black;
	float: right;
	margin: 5px 0px 0px 0px;
}