.btn-search{
    line-height: 2em;
    height: 2em;
    display: inline-block;
    min-width: 3em;
    background-color: white;
    border: 1px solid black;
}
main{
    width: 80%;
    padding: 30px 20px;
    margin: 0 0 0 30px;
    background-color: #f0f0f0;
}
#salSearch{
    width: 90%;
    margin: 10px auto;
}
h1{
    margin-left: 3em;
}
#salListSection{
    width:90%; overflow: auto;
    height: 600px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
}
.sal-list-table {
    width: 100%;
    white-space: nowrap;
    border-collapse: collapse;
}
.sal-list-table>thead>tr>td{
    border: 1px solid black;
    background-color: rgba(54, 50, 50, 0.63);
    text-align: center;
    padding: 0.5em 0;
}
.sal-list-table>tbody{
    font-size: 14px;
}
.sal-list-table>tbody>tr>td>button{
    font-size: 14px;
}
.sal-list-table>tbody>tr>td{
    border: 1px solid rgba(128, 128, 128, 0.5);
    background-color: white;
    padding: 0.2em 1em;
}