@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{
	margin:0; padding:0;
}
li{
	list-style: none;
}
body{
	background-color:black;
	font-family: 'Noto Sans KR', sans-serif;
}
.flex{
	display:flex;
}
.movie-tit{
	display: inline-block;
	width:100px;
	height:40px;
	font-weight: 700;
}

.rank-inten-text{
	font-size: 10px;
	margin-left:5px;
	margin-top:7px;
}
.rank-text{
	margin-left:5px;
}
/* .wrap-movie{
	width:1190px;
	margin: 0 auto;
	overflow: hidden;

}
 .movie-list{
	margin-right:20px;
	width:150px;
}
.movie-list > img{
	display: block;
	width:150px;
	cursor: pointer;
} */

/* html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    } */
.visuals{
	margin-top:100px;
}
#visual>.wrap{
	position: relative;
	overflow: hidden;
}
#visual>.wrap>.area{
	width: 885px;
	height: 350px;
	margin:0 auto;
	overflow: visible;
	position: relative;
}

#visual>.wrap>.area ol li{
	margin-right: 70px;
}
#visual>.wrap>.area ol li a{
	display: block;
	width: 220px;
	height: 350px;
	/* background-repeat: no-repeat;
	background-size: cover;
	background-position: center; */

}
#visual>.wrap>.area ol li a img{
	width:100%;
	height:100%;
}
.side{
	position: absolute;
	top: 0;
	height: 350px;
	width: 50vw;
	background-color: rgba(0,0,0, 0.75);
}
.left{
	left: -33vw;
}
.right{
	left: 555px;
}
.btn{
	position: absolute;
	z-index: 100;
	top: calc(50% - 25px);
	opacity: 50%;
	width: 50px;
	height: 50px;
	/* border-radius: 50%; */
	border:none;
	font-size: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	background: none;

}
.prev{
	left: 0px;
}
.btn > img{
	display: block;
	width: 100%;
	height:100%;
}
.next{
	right: 0px;
	background-image: url("/image/movie/next.png");
}

.light{
	width:500px;
	height:800px;
	/* margin:0 auto;
	padding-top: 200px; */
	position:absolute;
	top:-120px;
	left:50%;
	margin-left: -250px;
	z-index: -1;
}
.light > img{
	width:100%;
	height:100%;
	display: block;
}

#movieDetail{
	padding-top:100px;
	color:#fff;
	width:815px;
	margin:0 auto;
	font-size:25px;
	line-height: 70px;
}

.info{
	padding-top:100px;
	color:#fff;
	width:815px;
	margin:0 auto;
	font-size: 40px;
	line-height: 120px;
	font-weight: 700;
}
#header-area{
	width:1600px;
	margin:0 auto;
}
#header-area > a{
	color:#aacc39;
	font-size: 50px;
	font-weight: bold;
	text-decoration: none;
}