<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  th:replace="~{layout/member :: memberLayout(~{this::head}, ~{::main})}">
<head>
	<!--필요한 head 추가-->
	<link rel="stylesheet" href="/css/dashboard/member.css">
	
</head>
<main><!--내용 채우기-->
	<!-- <h1>사원 대쉬보드 페이지입니다.</h1> -->
	<div class="content">
		<div class="flex">
			<p class="content_p">
				<img src="/image/attendance/round.gif">
				출근, 퇴근 등록
			</p>
			<p class="content_p content_p2">
				<img src="/image/attendance/round.gif">
				최근 근태 현황
			</p>
		</div>
		<div class="flex">
			<form action="/member/attendance/reg/" method="post">
				<input type="text" name="id" value="1">
				<div class="content_att">
					<div class="flex">
						<script type="text/javascript">
							let today = new Date();   
							let week = new Array('일','월','화','수','목','금','토');
							let year = today.getFullYear(); // 년도
							let month = today.getMonth() + 1;  // 월
							let date = today.getDate();  // 날짜
							let weekDay = week[today.getDay()];
							document.write(year + '년 ' + month + '월 ' + date + '일 ' + weekDay + '요일');
					    </script>
					    <p class="content_att_reg">&nbsp;&nbsp;OO님 출,퇴근을 등록하세요.</p>
			    	</div>
			    	<div class="content_info">
			    		<!-- 여기에는 나중에 사원등록 되면 불러오고 싶은 데이터 넣어주면 될 거 같아요. 아래는 예시로 직접 값 넣었슴다..(프사,부서,팀,직책,이름) -->
			    		<p><img class="proflie" src="/image/attendance/profile_sample.jpg"></p>
			    		<p>[인사담당부 인사운영팀]</p>
			    		<p>스피츠 팀장</p>
				    </div>
				    <div class="flex">
				    	<button type="submit" class="btn-on"><img src="/image/attendance/btn_check01.gif"></button>
				    	<button type="submit" class="btn-off"><img src="/image/attendance/btn_check02.gif"></button>
			    	</div>
				</div>
			</form>
			<table class="table">
				<tbody>
					<tr>
						<th width="7%" height="15px">일자</th>
						<th width="5%" height="15px">요일</th>
						<th width="5%" height="15px">구분</th>
						<th width="10%" height="15px">출근시간</th>
						<th width="10%" height="15px">퇴근시간</th>
					</tr>
					<tr th:if="${!#lists.isEmpty(list)}" >
						<td colspan="5">
							<p>나중에 근태dto 데이터 넣어주기</p>
						</td>
						
					</tr>
					<!-- 나중에 데이터 넣고 반복문 돌리기! 일단은 데이터 직접 넣어봄..예시.. -->
					<tr th:if="${#lists.isEmpty(list)}" >
						<!-- <td><p>데이터가 없습니다.</p></td> -->
						<td>2023-01-05</td>
						<td>목</td>
						<td>출근</td>
						<td>08:59</td>
						<td>17:59</td>
					</tr>
					<tr th:if="${#lists.isEmpty(list)}" >
						<!-- <td><p>데이터가 없습니다.</p></td> -->
						<td>2023-01-06</td>
						<td>금</td>
						<td>조퇴</td>
						<td>08:59</td>
						<td>12:00</td>
					</tr>
					<tr th:if="${#lists.isEmpty(list)}" >
						<!-- <td><p>데이터가 없습니다.</p></td> -->
						<td>2023-01-06</td>
						<td>금</td>
						<td>조퇴</td>
						<td>08:59</td>
						<td>12:00</td>
					</tr>
					<tr th:if="${#lists.isEmpty(list)}" >
						<!-- <td><p>데이터가 없습니다.</p></td> -->
						<td>2023-01-06</td>
						<td>금</td>
						<td>조퇴</td>
						<td>08:59</td>
						<td>12:00</td>
					</tr>
					<tr th:if="${#lists.isEmpty(list)}" >
						<!-- <td><p>데이터가 없습니다.</p></td> -->
						<td>2023-01-06</td>
						<td>금</td>
						<td>조퇴</td>
						<td>08:59</td>
						<td>12:00</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<!-- 대시보드에 더 띄우고 싶은거 띄우기~ -->
		</div>
	</div>
</main>
</html>