@charset "UTF-8";

.det-p{
	padding: 10px 10%;
    width: 80%;
    margin-top: 20px;
    border: 1px solid #444444;
    margin-left: 50px;
}
.det-li{
	text-align: center;
	border: 1px solid #444444;
	margin: 5px;
}
.btn-ed{
	border-top: 1px solid #444444;
	
}