@charset "UTF-8";

.serch-zone{
	width: 100%;
    margin: 30px 0 0 0;
    font-size: 16px;
}
.store-list{
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.stoname{
	height: 50px;
    padding: 3px 15px;
    color: #333;
    font-weight: normal;
    vertical-align: middle;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background: #f6f6f6;
}
.stodle{
	height: 50px;
    padding: 3px 15px;
    color: #333;
    font-weight: normal;
    vertical-align: middle;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background: #f6f6f6;
}
.stoadre{
	height: 50px;
    padding: 3px 15px;
    vertical-align: middle;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background: #f6f6f6;
}
.store-table{
	width: 100%;
    margin: 30px 0 0 0;
    font-size: 16px;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}
.stoname1{
	height: 50px;
    padding: 3px 15px;
    color: #333;
    font-weight: normal;
    vertical-align: middle;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.stodle1{
	height: 50px;
    padding: 3px 15px;
    color: #333;
    font-weight: normal;
    vertical-align: middle;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.stoadre1{
	height: 50px;
    padding: 3px 15px;
    vertical-align: middle;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
