<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<ul class="departBox flex" th:each= "dto : ${list}">
							
	<li class="aaa">
	<!-- 부서리스트 -->
		<ul class="departList flex">
			<p class="icon-drag" sec:authorize="hasRole('ADMIN')"><i class="fa-regular fa-bars"></i></p>
			<button type="button" class="btn_depart_name" onclick="btnDepartNameClicked(this)">
				<i class="fa-solid fa-sort-down"></i>
				<span th:text="${dto.name}" class="dept-name"></span>
			</button>
			<input type="hidden" class="department_id" th:value="${dto.id}">
			<p class="dep-icon-menu" onclick="depIconMenuClicked(this)" sec:authorize="hasRole('ADMIN')"><i class="fa-regular fa-ellipsis-vertical"></i></p>
		
		</ul>
		<!-- 부서메뉴 -->
		<ul class="depart_menu"  th:id="|menuBtn_${dtoStat.count}|">
			<li onclick="btnTeamInsertClicked(this)" class="teamIn">팀 등록</li>
			<input type="hidden" class="department_id" th:value="${dto.id}">
			<input type="text" class="teamInsert" onkeyup="addTeam(this,event)" placeholder="팀명 입력">
			
			<li>													
				<button type="button" th:onclick="depDelete(this)" >부서 삭제</button>
				<input type="hidden" class="department_id" th:value="${dto.id}">
			</li>
			
			<li onclick="depUpdate(this)" class="depUp">부서명 수정</a></li>
			<input type="hidden" class="department_id" th:value="${dto.id}">
			<input class="depUpdate" onkeyup="depUpdateKeyup(this,event)" type="text" placeholder="부서명 입력">
			
		</ul> <!-- class="depart_menu flex" -->
	
		<!-- 팀리스트 박스-->
		<ul class="team_list ">
			<!-- 팀리스트 -->
			<li th:each="team : ${dto.teams}" class=" bbb flex"> 
				<ul class="teamBox flex">
					<p class="icon-drag" sec:authorize="hasRole('ADMIN')"><i class="fa-regular fa-bars"></i></p>
					<button th:text="${team.name}" class="team_name"></button>
					<p class="team-icon-menu" onclick="TeamIconMenuClicked(this)" sec:authorize="hasRole('ADMIN')"><i class="fa-regular fa-ellipsis-vertical team-icon-menu"></i></p>	
					<!-- 팀메뉴 -->
				</ul>
				
				<ul class="team_manu">
					<li>
						<button type="button" th:onclick="teamDelete(this)" >팀 삭제</button>
						<input type="hidden" class="team_id" th:value="${team.id}" >
					</li>
					<li onclick="teamUpdate(this)" class="teamUp">팀명 수정</li>
					<input type="hidden" class="team_id" th:value="${team.id}">
					<input class="teamUpdate" onkeyup="teamUpdateKeyup(this,event)" type="text" placeholder="팀명 입력">
					
				</ul> 
			</li><!-- class="team_name" -->
			
			
		</ul><!-- class="team_list" 팀데이터뿌려준곳-->
	</li>
</ul> <!--  class="depart_name" 부서데이터 뿌려준곳-->

</html>