<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
	<!--필요한 head 추가-->
	<script src="https://kit.fontawesome.com/8dd87b7874.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/css/depart/department.css">
<script type="text/javascript">

$(document).ready(function(){
	$(".btn_toggle_tree").click(function(){
    	$(".org_tree").slideToggle(400);
	});
	$(".btn_depart_menu").click(function(){
		$(".depart_menu").slideToggle(400);
	});
	$(".btn_tree_team").click(function(){
		$(".team_name").slideToggle(400);
	});
});


</script>
</head>
<main>	
	<div class="container view_size_depa">
		<!-- 부서관리 타이틀 -->
		<div class="content_head">
			<div class="title_cover flex">
				<span>부서관리</span>
			</div>			
		</div>
		<div class="content_depart center">
		<!-- 부서관리 내용 -->
		<!-- 데이터 다 뿌려줘야함. -->
			<div class="contents_body">
				<div class="member_view  flex">
					<section class="organization">
						<button type="button" class="btn_toggle_tree">
							<i class="fa-solid fa-sort-down"></i>&nbsp;
							<i class="fa-regular fa-building"></i>&nbsp;
							<span class="corp_name">&nbsp;&nbsp;CUAgain(회사명)</span>
						</button>
						<!-- 부서추가할 경우 부서명이 나오는 예시 -->
						<div class="org_tree">
							<ul class="tree_team">
								<li class="depart_name">
								<button type="button" class="btn_tree_team">&nbsp;&nbsp;&nbsp;&nbsp;
									<i class="fa-solid fa-sort-down"></i>
									<i class="fa-solid fa-user-group"></i>
									<span class="depart_name">마케팅부(부서명)</span>
								</button>
								<!-- 부서 수정목록창여는 버튼 -->
								<button type="button" class="btn_depart_menu">
									<span class="btn_tt">
										&nbsp;&nbsp;<i class="fa-regular fa-ellipsis-vertical"></i>
									</span>
								</button>
								<!-- 부서 수정목록들 -->
								<div class="depart_menu flex">
									<p><a href="#">부서명 수정</a></p>
									<p><a href="/admin/team/reg">팀명추가</a></p>
									<p><a href="#">부서 삭제</a></p>
									
								</div>
								<!-- 팀 추가할 경우 팀명이 나오는 예시 -->
								<div class="team_name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<i class="fa-regular fa-user"></i>
									<span>마케팅기획팀(팀명)&nbsp;</span>
								</div>
								</li>
							</ul>
						</div>
					</section>
					<section class="fix_contents member_list">
						<div class="fix_head memlist_head">
							<div class="list_head"></div>
							<div class="list_body">회사명 + 소속직원 수 </div>
						</div>
						<!-- 팀 선택시 팀 구성원 사원데이터를 받아서 뿌려주기 -->
						<div class="fix_body flex">
							<ul class="lw_table tb_cols_memberlist_head">
								<li class="lw_th profile"><i class="blind">프로필 사진</i></li>
								<li class="lw_th user_name"><a href="#" class="desc">이름</a></il>
								<li class="lw_th title"><a href="#" class="desc on">직급</a></li>
								<li class="lw_th status"><a href="#" class="desc">계정 상태</a></li>
								<li class="lw_th detail">계정 상태 현황</li>
							</ul>
						</div>
						
					</section>
				</div>
			</div>
			
		</div>
	</div>
			
			<!-- 페이지처리? -->
			<div class="lw_pagination flex center">
				<!-- 
				
				<a href="#" class="page_first ico_first disabled"><span class="page_tooltip">첫 페이지로 이동</span></a>
				<a href="#" class="page_prev ico_prev disabled"><span class="page_tooltip">이전 페이지로 이동</span></a>
				<span class="page_number">
					<a href="#" class="num selected">1<span class="blind">번째 목록</span></a>
				</span>
				<a href="#" class="page_next ico_next disabled"><span class="page_tooltip">다음 페이지로 이동</span></a>
				<a href="#" class="page_last ico_last disabled"><span class="page_tooltip">마지막 페이지로 이동</span></a>
				
				 -->
				 <i class="fa-solid fa-angles-left"></i>
				 <i class="fa-solid fa-angle-left"></i>
				 <a href="#" class="num selected">&nbsp;1&nbsp;</a>
				 <i class="fa-solid fa-angle-right"></i>
				 <i class="fa-solid fa-angles-right"></i>
			</div>
			</div>
		</div>
	</div>
</main>
</html>