<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
	<!--필요한 head 추가-->
	<script src="https://kit.fontawesome.com/8dd87b7874.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/css/depart/department3.css">
<script type="text/javascript">
$("#btn").on("click", function() {
	  $("bbb").show();
	});
	$("#btn").on("clicked", function() {
	  $("bbb").hide();
	});
/*
 * var toggle = false;

 btn.addEventListener('click', function() {
 	//클릭할 때마다 현재상태 반전
 	toggle =!toggle;
 	//switch 방법
 	switch (toggle){
 		case true :
 			selector.className = 'on';
 			break;
 		default :
 			selector.className = '';
 	}
 }, false);

 function TeamAdd(){
 	$.ajax({
 		url:"/admin/teamAdd",
 		type:"post",				//팀이름이랑 팀번호 등 하나가아니니까serialize() 추가?
 		data : $("#TeamAddDTO").serialize(),
  		dataType: "json",
 		success:function(resultHTML){
 				$("#department").html(resultHTML);
 			}
 	
 	  
 	
 }
 */
</script>
</head>
<main>
	<p><button id="btn">팀명추가</button></p>
  	<div id="bbb">
  		<input type="text" name="name"  placeholder="팀명 추가">
  	</div>
  
	<!--  
	<section class="flex">
	
	
  
	<input type="checkbox" id="switch">
	<label for="switch" class="TeamAdd" id="TeamAdd">팀명추가</label>
	
	
	<input type="checkbox" id="switch0" cheked>
	<label for="switch0" class="TeamAdd" id="TeamAdd">
	팀명 추가
	</label>
	
	<input type="checkbox" id="switch1">
	<label for="switch1">안녕하세요1</label>
	
	<input type="checkbox" id="switch2" cheked>
	<label for="switch2">안녕하세요2</label>
	
	<br>
	<br>
	
	<input type="checkbox" id="switch3">
	<label for="switch3" class=round>안녕하세요3</label>
	
	<input type="checkbox" id="switch4" cheked>
	<label for="switch4" class=round>안녕하세요4</label>
	</section>	
	<section>
		<div class="depart_menu flex">
			<p><a href="#">부서명 수정</a></p>
			<p><a href="#">팀명 추가</a></p>
			<p><a href="#">부서 삭제</a></p>
			
		</div>
	</section>
	-->
	<!-- 부서에 팀을 추가해봅시다  -->
	<section>
		<form action="/admin/teamAdd">
		<button>
			<input type="checkbox" name="name" onchange="TeamAdd()" placeholder="팀명 추가">
		</button>
		<input type="submit" id="switch4" name="name" onchange="TeamAdd()" placeholder="팀명 추가">
		<label for="switch" class="hide" >팀명추가</label>
		<label for="switch" class="show" >팀명추가</label>
	</form>
	</section>
	
	
	
</main>
</html>








