<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
	<!--필요한 head 추가-->
	<script src="https://kit.fontawesome.com/8dd87b7874.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/css/depart/department.css"/>
	<script src="/js/depart/department.js"></script>
</head>
<main>
	<div class="container view_size_depa">
		<!-- 부서관리 타이틀 -->
		<div class="content_head">
			<!-- title -->
			<div class="contents-top">
				<!-- 페이지이름 -->
				<div class="title_cover flex">
					부서관리
				</div>
			</div><!--  class="contents-top" -->
		</div> <!--  class="content_head" -->
		<!-- 부서관리 내용 -->
		<div class="content_depart center">
			<!-- 컨텐츠바디 -->
			<div class="contents_body">
				<!-- 조직도-커버 -->
				<div class="member_view flex">
					<!-- 조직도 -->
					<div class="organization fix_contents">
						<div>
							<!-- 회사명 -->
							<div class="corp_name fix_head flex">
							<!--  <button type="button" class="btn_toggle_tree">-->
								<div class= "ooo flex"> 
									<button type="button" class="btn_toggle_tree flex" onclick="viewDepartList(this)">
										<p><i class="fa-solid fa-sort-down"></i><p>
										<p><i class="fa-regular fa-building"></i><p>
										<span>CUAgain</span>
									</button>
									<p class="corp-icon-menu" onclick="corpIconMenuClicked()" sec:authorize="hasRole('ADMIN')"><i class="fa-regular fa-ellipsis-vertical"></i></p>
								</div>
								
								<div class="corp_menu" id="corp_menu">
									<li onclick="btnDepartInsertClicked(this)" class="dertIn">부서 등록</li>
									<input type="text" class="departAdd" onkeyup="addDepart(this,event)" placeholder="부서명 입력">
								</div>
							</div> <!-- class="corp_name" -->
								
						</div>
						<!-- 회사명 밑 박스 -->
						<div class="org_tree" id="org_tree">
							<!-- 부서명 회사누르면 토글되서 내려오는거-->
							<!-- 부서명이 삽입되는 영역입니다. -->
						</div> <!--  class="org_tree" -->
					</div> <!--class="organization" -->
					<div id="sel_memList">
					<!-- 해당 소속사원의 정보가 나오는 영역입니다. -->
						
					</div>
				</div> <!-- class="member_view" -->
			</div> <!-- class="contents_body" -->
		</div> <!-- class="content_depart center" -->
	</div>	<!-- class="container view_size_depa" -->
</main>
</html>