<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/%22%3E
<head>
   <link rel="stylesheet" href="/css/movie/movie.css">
</head>
<div id="pictureList" >
    <div th:each="dto:${list}">
        <img th:src="${dto.imgUrl}" width="100px" onclick="moviePictuerClicked(this)"/>
        <input type="hidden" class="movieCode" th:value="${dto.movieCd}">
    </div>
</div>
<div id="movieDetail">
    <div th:each="dto:${list}" th:id="${dto.movieCd}">
        <ul>
            <li class="flex between"><span class="movie-tit">순위</span><span th:text="${dto.rank}"></span></li>
            <li class="flex between"><span class="movie-tit">영화명</span><span th:text="${dto.movieNm}"></span></li>
            <li class="flex between"><span class="movie-tit">매출액</span><span th:text="${dto.salesAmt}"></span></li>
            <li class="flex between"><span class="movie-tit">관객수</span><span th:text="${dto.audiAcc}"></span></li>
            <li class="flex between">
               <span class="movie-tit">증감율</span>
               <span th:if="${dto.rankInten == '0'}" th:text="--"></span>
               <span th:if="${dto.rankInten > '0'}"><img src="/image/movie/upicon.jpg" width="20px" height="15px">[[${dto.rankInten}]]</span>
               <span th:if="${dto.rankInten < '0'}"><img src="/image/movie/downicon.jpg" width="20px" height="15px">[[${dto.rankInten}]]</span>
            </li>
            <li class="flex between"><span class="movie-tit">개봉일</span><span th:text="${dto.movieCd}"></span></li>
            <li class="flex between"><span class="movie-tit">순위</span><span th:text="${dto.openDt}"></span></li>
        </ul>
    </div>

</div>
<style>
    #pictureList{
        display: flex;
    }
</style>
<script>
    $(function (){
        $("#movieDetail>*").hide();
    })
    function moviePictuerClicked(el){
        var movieCd = $(el).siblings(".movieCode").val();
        $("#movieDetail>*").hide();
        $(`#${movieCd}`).show();
    }
</script>
</html>
