<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/movie/movie.css">
	<script src="/js/movie/movie.js"></script>
</head>
<section id="visual">
	<div id="header-area">
		<a href="/member/main">CU</a>
	</div>
	<div class="wrap-movie wrap">
		<div class="area">
			<div class="light"><img alt="" src="/image/movie/spotlight02.png"></div>
			<ol id="pictureList" class=" flex visuals" > <!-- my shop ol -->
				<li th:each="dto:${list}" class="movie-list"> <!-- my shop li -->
					<a href="#" onclick="moviePictuerClicked(this)" ><img th:src="${dto.imgUrl}" /></a>
					<input type="hidden" class="movieCode" th:value="${dto.movieCd}">
				</li>
			</ol>
			<div class="cover">
				<div class="side left"></div>
				<div class="side right"></div>
			</div>
			<div class="btn-wrap">
				<button class="btn prev"><img src="/image/movie/back02.png"></button>
				<button class="btn next"><img src="/image/movie/next02.png"></button>
			</div>
		</div>
	</div>
</section>
<div id="movieDetail">
    <div th:each="dto:${list}" th:id="${dto.movieCd}">
        <ul>
            <li class="flex between"><span class="movie-tit">순위</span><span th:text="${dto.rank}+'위'"></span>
            	<span th:if="${dto.rankInten == '0'}" th:text="--" class="rank-text"></span>
            	<span th:if="${dto.rankInten > '0'}" class="rank-inten-text"><img src="/image/movie/upicon2.png" width="20px" height="15px">[[${dto.rankInten}]]</span>
            	<span th:if="${dto.rankInten < '0'}" class="rank-inten-text"><img src="/image/movie/downicon2.png" width="20px" height="15px">[[${dto.rankInten}]]</span></li>
            <li class="flex between"><span class="movie-tit">영화명</span><span th:text="${dto.movieNm}"></span></li>
            <li class="flex between"><span class="movie-tit">매출액</span><span th:text="${#numbers.formatInteger(dto.salesAmt , 0 ,'COMMA')+'원'}"></span></li>
            <li class="flex between"><span class="movie-tit">관객수</span><span th:text="${#numbers.formatInteger(dto.audiAcc , 0 ,'COMMA')+'명'}"></span></li>
            <li class="flex between">

            </li>

            <li class="flex between"><span class="movie-tit">개봉일</span><span th:text="${dto.openDt}"></span></li>
        </ul>
    </div>
</div>
<div class="info">
	<p>전국 최초 영화예매 편의점!</p>
	<p>CUAgain에서 준비한 간식들과 함께,</p>
	<p>영화관람 하세요!</p>
</div>
<!-- <style>
    #pictureList{
        display: flex;
    }
</style> -->

<script>
	/* 처음코드 */
    $(function (){
        $("#movieDetail>*").hide();

    })
    function moviePictuerClicked(el){
        var movieCd = $(el).siblings(".movieCode").val();
        $("#movieDetail>*").hide();
        $(".info").fadeOut();
        $(`#${movieCd}`).fadeIn(1000);
    }
    /* 처음코드 끝 */

</script>
</html>