<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/store/store-detail.css">
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/employee/daumPostcode.js"></script>
<script type="text/javascript">
			$(function(){
				$("#btnEdit").click(btnEditClicked);
				$("#btnCancel").click(function(){
					$("#default").show();
					$("#editForm").hide();
				});
			});
			
			function btnEditClicked(){
				$("#default").hide();
				$("#editForm").show();
			}
		</script>
		<style type="text/css">#editForm{display: none;}</style>
</head>
<body>
	<main>
		<h1 class="s-tit">점포상세페이지</h1>
		<div id="default">
			<table class="det-p" >
				<tr class="det-li">
					<td class="a">점포명</td>
					<td th:text="${dto.name}"></td>
				</tr>
				<tr class="det-li">
					<td class="a">담당자 이름</td>
					<td th:text="${dto.managerName}"></td>
				</tr>
				<tr class="det-li">
					<td class="a">상세정보</td>
					<td th:text="${dto.content}"></td>
				</tr>
				<tr class="det-li">
					<td class="a">우편번호</td>
					<td th:text="${dto.postcode}"></td>
				</tr>
				<tr class="det-li">
					<td class="a">도로명주소</td>
					<td th:text="${dto.roadAddress}"></td>
				</tr>
				<tr class="det-li">
					<td class="a">지번주소</td>
					<td th:text="${dto.jibunAddress}"></td>
				</tr>
				<tr class="det-li">
					<td class="a">주소상세정보</td>
					<td th:text="${dto.detailAddress}"></td>
				</tr>
				<tr class="det-li">
					<td class="a">동이름</td>
					<td th:text="${dto.extraAddress}"></td>
				</tr>
			</table>
				<div class="btn-ed">
					<form th:action="|/store/store-detail/${dto.id}|" method="post">
						<input type="hidden" name="_method" value="DELETE">
						<button class="s-btn">삭제</button>
						<button class="s-btn" type="button" id="btnEdit">수정</button>
					</form>
				</div>
			</div>
		<form id="editForm" th:action="|/store/store-detail/${dto.id}|" method="post">
			<table class="det-p">
				<tr>
					<td class="a">점포명</td>
					<td>
						<input class="det-inp" type="text" name="name" th:value="${dto.name}">
					</td>
				</tr>
				<tr>
					<td class="a">담당자 이름</td>
					<td>
						<input class="det-inp" type="text" name="managerName" th:value="${dto.managerName}">
					</td>
				</tr>
				<tr>
					<td class="a">상세정보</td>
					<td>
						<input class="det-inp" type="text" name="content" th:value="${dto.content}">
					</td>
				</tr>
				<tr>
					<td class="a">우편번호</td>
					<td>
						<input class="det-inp" type="text" name="postcode" th:value="${dto.postcode}">
					</td>
				</tr>
				<tr>
					<td class="a">도로명주소</td>
					<td>
						<input class="det-inp" type="text" name="roadAddress" th:value="${dto.roadAddress}">
					</td>
				</tr>
				<tr>
					<td class="a">지번주소</td>
					<td>
						<input class="det-inp" type="text" name="jibunAddress" th:value="${dto.jibunAddress}">
					</td>
				</tr>
				<tr>
					<td class="a">주소상세정보</td>
					<td>
						<input class="det-inp" type="text" name="detailAddress" th:value="${dto.detailAddress}">
					</td>
				</tr>
				<tr>
					<td class="a">동이름</td>
					<td>
						<input class="det-inp" type="text" name="extraAddress" th:value="${dto.extraAddress}">
					</td>
				</tr>
			</table>
			<div class="btn-ed">
				<input type="hidden" name="_method" value="PUT">
				<button class="s-btn" type="submit">수정완료</button>
				<button class="s-btn" type="button" id="btnCancel">취소</button>
			</div>
		</form>
	</main>
</body>
</html>