<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/commons/common.css">
<link rel="stylesheet" href="/css/store/store.css">
</head>
	<body>
		<main>
		<form action="/admin/store-search" method="get">
			<div class="serch-zone">
				<label>
					<select id="serch-type" name="manager">
						<option value="Name">지점명</option>
						<option value="managerName">매니저이름</option>
					</select>
					 <input type="text" name="keyword" class="search-box" />
				</label>
				<button class="btn-search">검색</button>
			</div>
		</form>
			<table class="store-table">
				<thead>
					<tr class="store-list">
						<td class="stoname">직영점명</td>
						<td class="stodle">담당자</td>
						<td class="stoadre">직영점 주소</td>
					</tr>
				</thead>
				<tbody th:each=" dto : ${list}">
					<tr class="store-list">
						<td class="stoname1" th:text="${dto.name}" th:onclick="|location.href='/store/store-detail/${dto.id}'|"></td>
						<td class="stodle1" th:text="${dto.managerId}">담당자</td>
						<td class="stoadre1" th:text="${dto.jibunAddress}">직영점 주소</td>
					</tr>
				</tbody>
			</table>
		</main>
	</body>
</html>