<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/commons/common.css">
<link rel="stylesheet" href="/css/document/docReg.css">
<title>결재등록</title>

	<script>
		$(function (){
			$(".currentDate").val(new Date().toISOString().substring(0, 10));
		});
	</script>
</head>
<body>
	<main>
		<h1>결재등록</h1>
		<form action="/member/docReg" method="post">
			<table class="flex aicenter payment-table">
				<tbody>
				<tr>
					<td>문서번호</td>
					<td>자동채번</td>
					<td>기안일자</td>
					<td><input type="date" class="currentDate" readonly></td>
				</tr>

				<tr>
					<td>기안자</td>
					<td>
						<input type="hidden" th:value="${user.id}" name="writerId">
						[[${user.name}]]
					</td>
					<td>기안부서</td>
					<td>[[${user.depName}]]</td>
				</tr>
				<tr>
					<td>결재자</td>
					<td colspan="3">
						<input type="hidden" th:value="${user.depManagerId}" name="acceptorId">
						<span th:text="${user.depManagerName}"></span>
					</td>
				</tr>
				<tr>
					<td>문서제목</td>
					<td colspan="3"><input type="text" name="title" placeholder="문서명을 입력해주세요"></td>
				</tr>
				<tr>
					<td colspan="4">상세내용</td>
				</tr>
				<tr>
					<td colspan="4">
						<textarea name="content"></textarea>
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<button class="suecs">결재등록</button>
					</td>
				</tr>
				</tbody>
			</table>
		</form>
	</main>
</body>
</html>