<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="/css/commons/common.css">
	<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<a href="/member/main">멤버페이지로 이동</a>
	<a href="/admin/main">어드민 페이지로 이동</a>
	<div class="flex column center aicenter view-size-login">
		<div class="flex">
			<h2>CU Again</h2>
		</div>
		<div class="flex column center aicenter">
			<form action="/comm/login">
				<ul class="login-ul">
					<li class="flex">
						<p>이메일</p>
						<input type="email" name="email" placeholder="이메일을 입력하세요.">
					</li>
					<li class="flex">
						<p>비밀번호</p>
						<input type="password" name="password" placeholder="비밀번호를 입력하세요.">
					</li>
					<li>
						<button>로그인</button>
					</li>
				</ul>
			</form>
		</div>
	</div>
</body>
</html>