<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="/css/commons/common.css">
	<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<a href="/member/main">멤버페이지로 이동</a>
	<div class="flex column center aicenter view-size-login">
		<h1>씨유어게인 그룹웨어</h1>
		<div class="flex column center aicenter">
			<p>로그인 후 이용 가능합니다.</p>
			<form action="/comm/login">
				<ul class="login-ul">
					<li>
						<input type="email" name="email" placeholder="이메일을 입력하세요.">
					</li>
					<li>
						<input type="password" name="password" placeholder="비밀번호를 입력하세요.">
					</li>
					<li>
						<button>로그인</button>
					</li>
				</ul>
			</form>
		</div>
	</div>
</body>
</html>