<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
	<link rel="stylesheet" href="/css/board/notice.css">
	<link rel="stylesheet" href="/css/board/write.css">
	<!--필요한 head 추가-->
</head>
<main><!--내용 채우기-->
    <form th:action="@{/admin/board/update/{boardId}(boardId = ${dto.id})}" method="post">
	<div class="board_wrap">
        <div class="board_title">
            <strong>수정</strong>        
        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd>글제목<br><input name="title" placeholder="제목 입력" th:value="${dto.title}"></dd>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt>작성자</dt>
                        <dd>작성자<br><input  placeholder="작성자 입력" th:value="${dto.name}" readonly="readonly"></dd>
                    </dl>

                </div>
                <div class="cont">
                    <textarea name="content" th:text="${dto.content}"></textarea>
                </div>
            </div>
            <div class="bt_wrap">
                <button type="submit">수정완료</button>
                <a href="/admin/board/boardList" class="on">취소</a>

            </div>
        </div>
    </div>
    </form>
</main>
</html>