<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
	<link rel="stylesheet" href="/css/board/write.css">
	<link rel="stylesheet" href="/css/board/notice.css">
	<!--필요한 head 추가-->
</head>
<main><!--내용 채우기-->
    <form action="/admin/board/regfree"  method="post">
	<div class="board_wrap">
        <div class="board_title">
            <strong>자유게시판 등록</strong>
            
        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" name="title" placeholder="제목 입력"></dd>
                    </dl>
                </div>
                <div class="cont">
                    <textarea placeholder="내용 입력" name="content"></textarea>
                </div>
                <input type="hidden" name="boardType" value="자유게시판">
            </div>
            <div class="bt_wrap">
                <button class="on">등록</button>
                <a href="/admin/board/freeList" class="on">취소</a>
            </div>
        </div>
    </div>
    </form>
</main>
</html>