<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
    <link rel="stylesheet" href="/css/board/notice.css">
    <script>
        $(function (){
            $("#btn-search").click(btnSearchClicked);
        })

        function getBoardDetail(el) {
            var boardId= $(el).prev().text();
            location.href=`/admin/board/view/${boardId}`;
        }
        
        function btnSearchClicked(){
        	var type = $("#search_type").val();
        	var data = $("#search_data").val();

        	$.ajax({
        		url:`/admin/board/searchList/${type}/${data}`,
        		type: "get",
        		success: function (resultHTML){
        			$("#board-list").html(resultHTML);
        			
        		}
        	});
        }

    </script>
	<!--필요한 head 추가-->
</head>
<main><!--내용 채우기-->
	<div class="board_wrap">
        <div class="board_title">
            <strong th:text="${type}"></strong>                  
        </div>
        <label>검색
        	<select id="search_type">
        		<option value="boardId">번호</option>
        		<option value="title">제목</option>
        		<option value="writer">작성자</option>
        	</select>
        	<input id="search_data" type="text">
        </label>
        <button id="btn-search" class="btn-search">검색</button>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="num">번호</div>
                    <div class="title">제목</div>
                    <div class="date">작성일</div>
                    <div class="name">이름</div>
                    <div class="count">조회</div>
                </div>
                <div id="board-list">
                    <th:block th:each="board:${pages}">
                        <div th:text="${board.id}" class="num" ></div>
                        <div th:text="${board.title}"class="title" onclick="getBoardDetail(this)" ></div>
                        <div th:text="${board.createdDate}" class="date"></div>
                        <div th:text="${board.writer}" class="name"></div>
                        <div th:text="${board.readCount}" class="count"></div>
                    </th:block>
                </div>

            </div>
            <div class="board_page">
                <th:block th:if="${hasPrev}">
                    <a th:href="|/admin/board/boardList/${lType}?page=${previous}|" role="button" class="bt prev">&lt;</a>
                </th:block>

                    <a >&lt;</a>
                <th:block th:if="${hasNext}">
                    <a  th:href="|/admin/board/boardList/${lType}?page=${next}|" role="button" class="bt next">&gt;</a>
                </th:block>
                <th:block >
                    <a>&gt;</a>
                </th:block>

            </div>
            <div class="bt_wrap">
                <a th:href="|/admin/board/write/${type}|" class="on">등록</a>
                <!--<a href="#">수정</a>-->
            </div>
        </div>
    </div>
</main>
</html>