<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
	<link rel="stylesheet" href="/css/board/notice.css">
	<link rel="stylesheet" href="/css/board/write.css">
	<!--필요한 head 추가-->
    <script th:inline="javascript">
        function commentWrtie() {

            const data = {
                boardId: $("#boardId").text(),
                comment: $('#comment').val()
            }

            // 공백 및 빈 문자열 체크
            if (!data.comment || data.comment.trim() === "") {
                alert("공백 또는 입력하지 않은 부분이 있습니다.");
                return false;
            } else {
                $.ajax({
                    type: 'POST',
                    url: "/member/comment/reg",
                    /*contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),*/
                    data: data,
                    success : function(resulHTML) {
                        $("#commentList").html(resulHTML);
                    }
                });
            }
        }


    function btnListClicked(){
                var type=[[${detail.type}]];
                var lType;
                if(type=="공지사항"){
                    lType=0;
                }else {
                    lType=1;
                }
                location.href="/member/board/boardList/"+lType;
            }
    </script>
</head>
<main><!--내용 채우기-->
    <div class="board_wrap">
        <div class="board_title">
            <strong th:text="${detail.type}">수정</strong>
        </div>
        <div class="board_view_wrap">
            <div class="board_view">
                <div class="title">
                    [[${detail.title}]]
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd id="boardId">[[${detail.id}]]</dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd th:text="${#temporals.format(detail.createdDate,'yyyy-MM-dd hh:mm')}"></dd>
                    </dl>
                    <dl>
                        <dt>작성자</dt>
                        <dd>[[${detail.name}]]</dd>
                    </dl>
                    <dl>
                        <dt>조회</dt>
                        <dd>[[${detail.readCount}]]</dd>
                    </dl>
                </div>
                <div class="cont">
                    [[${detail.content}]]

       
                </div>
            </div>
            <div class="bt_wrap">
                <button type="button" onclick="btnListClicked()" class="on">목록</button>
                <a th:if="${detail.type}=='공지사항'" sec:authorize="hasRole('ADMIN')" th:href="@{/member/board/{boardId}(boardId = ${detail.id})}" class="on">수정</a>
                <a th:if="${detail.type}=='자유게시판'and${detail.writerId}==${#authentication.principal.id}" th:href="@{/member/board/{boardId}(boardId = ${detail.id})}" class="on">수정</a>
                <!--<a th:href="@{/admin/board/{boardId}(boardId = ${detail.id})}" class="on">수정</a>-->
            </div>
            <div  class="reply_wrap" id="comment-write">
                <input type="text" id="comment" placeholder="내용">
                <button id="comment-btn" onclick="commentWrtie()">등록</button>
            </div>
            <table class="tb">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>댓글내용</th>
                        <th>생성일</th>
                        <th>작성자</th>
                    </tr>
                </thead>
                    <tbody id="commentList">
                    <tr th:each="dto:${list}">
                        <td th:text="${dto.id}"></td>
                        <td th:text="${dto.content}"></td>
                        <td th:text="${#temporals.format(dto.createdDate,'yyyy-MM-dd hh:mm')}"></td>
                        <td th:text="${dto.writer}"></td>
                    </tr>
                    </tbody>
            </table>



        </div>


    </div>
</main>
</html>
