<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
	<link rel="stylesheet" href="/css/board/notice.css">
	<link rel="stylesheet" href="/css/board/write.css">
	<!--필요한 head 추가-->
    <script th:inline="javascript">

            function btnListClicked(){
                var type=[[${detail.type}]];
                var lType;
                if(type=="공지사항"){
                    lType=0;
                }else {
                    lType=1;
                }
                location.href="/admin/board/boardList/"+lType;
            }
    </script>
</head>
<main><!--내용 채우기-->
    <div class="board_wrap">
        <div class="board_title">
            <strong th:text="${detail.type}">수정</strong>
        </div>
        <div class="board_view_wrap">
            <div class="board_view">
                <div class="title">
                    [[${detail.title}]]
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd>[[${detail.id}]]</dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd>[[${detail.createdDate}]]</dd>
                    </dl>
                    <dl>
                        <dt>작성자</dt>
                        <dd>[[${detail.name}]]</dd>
                    </dl>
                    <dl>
                        <dt>조회</dt>
                        <dd>[[${detail.readCount}]]</dd>
                    </dl>
                </div>
                <div class="cont">
                    [[${detail.content}]]

       
                </div>
            </div>
            <div class="bt_wrap">
                <button type="button" onclick="btnListClicked()" class="on">목록</button>
                <a th:href="@{/admin/board/{boardId}(boardId = ${detail.id})}" class="on">수정</a>
                <!--<a th:href="@{/admin/board/{boardId}(boardId = ${detail.id})}" class="on">수정</a>-->
            </div>
            <div id="comment-write">
                <input type="text" id="writer" placeholder="작성자">
                <input type="text" id="content" placeholder="내용">
                <button id="comment-btn" onclick="commentWrtie()">등록</button>
            </div>
            <table class="tb">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>댓글내용</th>
                        <th>생성일</th>
                        <th>작성자</th>
                    </tr>
                </thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

            </table>



        </div>


    </div>
</main>
</html>
