<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/admin :: adminLayout(~{this::head}, ~{::main})}">
<head>
	<link rel="stylesheet" href="/css/board/write.css">
	<link rel="stylesheet" href="/css/board/notice.css">
	필요한 head 추가
    <script>
    function btncancelClicked(){
         var type = $("#type").text();
        var lType;
        if(type=="공지사항"){
            lType=0;
        }else {
            lType=1;
        }
        location.href=`/member/board/boardList/${lType}`;
    }
    </script>
</head>
<main><!--내용 채우기-->
    <form action="/member/board/reg"  method="post">
	<div class="board_wrap">
        <div class="board_title">
            <strong id="type" th:text="${type}"></strong>
            
        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" name="title" placeholder="제목 입력"></dd>
                    </dl>
                </div>
                <div class="cont">
                    <textarea placeholder="내용 입력" name="content"></textarea>
                </div>
                <input type="hidden" name="type" th:value="${type}">
            </div>
            <div class="bt_wrap">
                <button class="on">등록</button>
                <button type="button" onclick="btncancelClicked()" class="on">취소</button>
            </div>
        </div>
    </div>
    </form>
</main>
</html>