@charset "UTF-8";
/*전체적용*/
.content_head{
	margin: 3em auto;
	padding: 2em;
	width: 1200px;
	height: 100px;
}
.title_cover{
	font-size: 24px;
	font-weight: 600px;
}
.contents_body{
	margin: 3em auto;
	width: 1200px;
	height: 900px;
	
}
/*아이콘 기본 설정*/
.fa-duotone, .fa-solid, .fa-regular{
	font-family: "FontAwesome";
	color: #bebebe;
	
}
/*전체사이즈*/
.view_size_depa{
	padding: 3em auto;
}
/*개별적용*/

.organization{
	width: 300px;
	padding: 0 auto;
}

/*************************부서조회 추가 수정 삭제 등*************************/


/*****************************************************/
.icon-drag{display: none;}
.departAdd{display: none;}
.corp_menu{display: none;}
.depart_name{display: none;}
.depart_menu{display: none;}
.team_list{display: none;}
.team_manu{display: none;}
.depUpdate{display: none;}
.teamInsert{display: none;}
.teamUpdate{display: none;}



.corp_name>div>p{
	padding: 0.3em;
}
.btn_toggle_tree>p{
	padding: 0.3em;
}
.ooo{
	position: relative;
	width: 200px;
	padding: 0 auto;
}
.corp_manu{
	position: absolute;
	z-index:10;
	width: 150px;
}
.departAdd{
	width: 140px;
}
/*회사명,부서명,팀명 호버시 백그라운드컬러 달라지고*/
.corp_name:hover, .departList:hover, .teamBox:hover ,.team_name:hover{
	background-color: rgb(171, 81, 177);
}

.departList{
	padding: 0.2em;
	margin-left: 2em; 
}
.departList>p {
	padding: 0.3em 1em;
}
/*부서명*/
.depart_name{
	padding-top: 1em;
}

/*부서리스트*/
.aaa{
	position: relative;
	width: 200px;
	padding: 0 auto;
}
/*부서메뉴리스트*/
.depart_menu{
	position:absolute;
	top:0;
	right: -200px;
	z-index: 20;
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid #ddd;
	width:150px;
	padding: 1em 2em;
}
/*팀명*/
.team_list{
	margin-left: 60px;
	padding: 0.2em;
}
.teamBox>p{
	padding: 0.3em 1em;
	
}
/*팀이름*/
.team_name{
}
/**/
.bbb{
	position: relative;
	width: 200px;
	padding: 0 auto;
}
/*팀메뉴리스트*/
.team_manu{
	position:absolute;
	top:0;
	right: -160px;
	z-index: 20;
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid #ddd;
	width:150px;
	padding: 1em;
}
/*//////////////////내용///////////////////////////*/
.selected{
	margin: 0 0.5em;
}
.fix_contents {
	border: 2px solid #ddd;
	height: 700px;
	box-shadow: 1px 1px rgba(251, 211, 138,0.25);
}

.fix_head {
	border-bottom: 1px solid #ddd;
	height: 50px;
    line-height: 20px;
    padding: 1em;
}
.lh_select>li{
	color: #157efb;
	margin-right: 2em;
}
.fix_body{
	margin: 0.5em 0.5em 0.5em 1.5em;
}
#sel_memList{
	width:700px;
}
.memberlist{
	padding: 0.2em;
	height: 40px;
}
.memberlist>li{
	margin: 0.4em auto;
}
.memberlist>ul>li{
	margin: 0.4em auto;
}	
.empName{
	width: 70px;
}
.empPosi{
	width: 40px;
}
.empPhone{
	width: 120px;
}
.empEmail{
	width: 220px;
}
.empli{
	height:600px;
	overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
}