@charset "UTF-8";
/*전체적용*/
main{height:100%; background-color: white;}
.contents_body{
	margin: 5em auto;;
	width: 1200px;
	height: 900px;
}
/*아이콘 기본 설정*/
.fa-duotone, .fa-solid, .fa-regular{
	font-family: "FontAwesome";
	color: #a9a9a9;
	padding: 0.3em;
}
/*전체사이즈*/
.view_size_depa{
	padding: 3em auto;
}
/*개별적용*/

.organization{
	border: 1px solid #ddd;
	width: 300px;
	padding: 0 auto;
}

/*************************부서조회 추가 수정 삭제 등*************************/
/*부서헤더*/

/*부서바디*/
.contents_body{
	padding: 1em;
	
}
/*****************************************************/
.depart_name{display: none;}
.depart_menu{display: none;}
.team_list{display: none;}
.team_manu{display: none;}
.depUpdate{display: none;}
.teamInsert{display: none;}
.teamUpdate{display: none;}


/*회사명 박스*/
.corp_name_box{
	padding: 1em;
	border: 1px solid #ddd;
}
/*회사명,부서명,팀명 호버시 백그라운드컬러 달라지고*/
.corp_name:hover, .depart_name:hover, .team_name:hover{
	background-color: rgb(171, 81, 177);
	color: #157efb;
}
/*회사명*/
.corp_name{
	padding: 1em;
	border-bottom: 1px solid #ddd;
}
/*부서명*/
.depart_name{
	padding-top: 1em;
	position: relative;
	
}
/*팀명*/
.team_list{
	border: 1px solid #ddd;
}
.team_name{
	z-index: 10;
	padding: 1em;
	background-color: #fff;
	padding: 1em;
}
/*회사-부서등록 메뉴*/
.dep_reg{}
/*클릭시 부서메뉴리스트가 토글되는 아이콘*/
.dep-icon-menu{
	position: relative;
}

/*부서메뉴리스트*/
.depart_menu{
	position:absolute;
	left:310px;
	z-index: 10;
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid #ddd;
	width:200px;
	padding: 1em 2em;
}
/*팀이름*/
.team_name{}
/*클릭시 팀메뉴리스트가 토글되는 아이콘*/
.team-icon-menu{}
/*팀메뉴리스트*/
.team_manu{
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid #ddd;
	width:200px;
	padding: 1em;
}
/*//////////////////내용///////////////////////////*/
.selected{
	margin: 0 0.5em;
}
.fix_contents {
	border: 1px solid #ddd;
	height: 700px;
}

.fix_head {
	border-bottom: 1px solid #ddd;
	height: 60px;
    position: relative;
    line-height: 20px;
    padding: 16px 0 16px 20px;
}
.fix_body{
	margin: 2em;
}
#sel_memList{
	width:700px;
}