
.endDate{
    display: inline-block;
    width: 20%;
    margin-left: 50%;
}
.isend>*{
    width: 50%;
}
.isend>div>*{
    display: inline-block;
    width: 2em;
    height: 1em;
}
#view-list{
    width: 80%;
    padding: 30px 0;
    margin: 0 0 0 30px;
}
.searchTag{
    height: 3em;
    line-height: 3em;
    align-items: center;
}
.searchTag>*{
    margin-right: 10px;
}
.btn-search{
    line-height: 2em;
    height: 2em;
    width: 3em;
    background-color: white;
    border: 1px solid black;
}
#view-list>*{
    width:90%;
    margin: 0 auto;

}
.searchTag i{
    font-size: 30px;
    height: 30px;
    min-width: 30px;
    text-align: center;
    line-height: 30px;
    transition: all .5s ease;
}
.bx-info-square{
    font-size: 13px;
    height: 13px;
    min-width: 20px;
    text-align: center;
    line-height: 13px;
    transition: all .5s ease;
    margin-top: 1px;

}
.emp-info{
    width:90%; overflow: auto;
    height: 600px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
}
.emp-list-table{
    width: 100%;
    white-space: nowrap; border-collapse: collapse;
}
.emp-list-table>thead>tr>th{
    border: 1px solid black;
    background-color: rgba(54, 50, 50, 0.63);
    text-align: center;
    padding: 0.5em 0;
}
.emp-list-table>tbody{
    font-size: 14px;
}
.emp-list-table>tbody>tr>td>button{
    font-size: 14px;
}
.emp-list-table>tbody>tr>td{
    border: 1px solid rgba(128, 128, 128, 0.5);
    background-color: white;
    padding: 0.2em 1em;
}
.emp-list-table>tbody>tr>td:nth-child(1){
    width: 5%;
}
.emp-list-table>tbody>tr>td:nth-child(2){
    width: 10%;
}
.emp-list-table>tbody>tr>td:nth-child(3){
    width: 10%;
}
.emp-list-table>tbody>tr>td:nth-child(4){
    width: 10%;
}
.emp-list-table>tbody>tr>td:nth-child(5){
    width: 10%;
}
.emp-list-table>tbody>tr>td:nth-child(6){
    width: 10%;
}
.emp-list-table>tbody>tr>td:nth-child(7){
    width: 15%;
}
.emp-list-table>tbody>tr>td:nth-child(8){
    width: 30%;
}
#view-list{
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    background-color: #f0f0f0;
    margin-top: 20px;
}
#view-list>p{
    font-size: 12px;

}